<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">

<div class="cuadricula">
	<div><h1>Reducción del costo del servicio subcontratado</h1></div>
	<div><h1>Concentración en las actividades principales de la contratante</h1></div>
	<div><h1>Mejora en la calidad del servicio</h1></div>
	<div><h1>Acceso a personal cualificado</h1></div>
	<div><h1>Optimización de procesos</h1></div>
	<div><h1>Reducción de riesgos indirectos de la contratante</h1></div>
</div>
<style type="text/css">
body .cuadricula > div h1 {

	padding: 5px;
}
</style>