<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<div class="tabla">
	<div>
		<h1>Contratista independiente</h1>
		<ul>
			<li>Verdadero empleador.</li>
			<li>No delega la subordinación.</li>
		</ul>
	</div>
	<div>
		<h1>Intermediación</h1>
		<ul>
			<li>El intermediario es representante del empleador, por tanto, no es empleador.</li>
			<li>No ejerce subordinación.</li>
		</ul>
	</div>
	<div>
		<h1>EST</h1>
		<ul>
			<li>Verdadero empleador.</li>
			<li>Sí delega la subordinación de sus trabajadores en misión y por ello no deja de ser empleador.</li>
		</ul>
	</div>
</div>