<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<div class="tabla-horizontal">
	<div>
		<h1>Contrato a una EST para que los trabajadores en misión</h1>
	</div>
	<div>
		<ul>
			<li>Realicen labores ocasionales, accidentales o transitorias</li>
			<li>Reemplacen personal en vacaciones, en uso de licencia, en incapacidad por enfermedad o maternidad.</li>
			<li>Atiendan incrementos en la producción, el transporte, las ventas de productos o mercancías, los períodos estacionales de cosechas y en la prestación de servicios, por un término de seis (6) meses prorrogable hasta por seis (6) mes más.</li>
		</ul>
	</div>
</div>