<div class="oit-curso" style="background:{{background}}">
   <div class="descripcion">
      <h2>{{titulo}}</h2>
   </div>
   <div class="accion">
      <div class="info">
         {{info}}
         <div class="progreso">
            {{estado}}
         </div>
         {{link}}
         <!-- <a class="oit-boton {{estado_boton}}" href="{{url}}">{{texto_boton}}</a> -->
      </div>
   </div>
</div>