<div id="oit-puntaje" class="{{estado}}">
    <span>
        <div>
            <h1>{{puntaje_total}}/50</h1>
            <div>
                <h2>puntos</h2>
                <p>50*{{respuestas_correctas}}/{{respuestas_totales}}</p>
            </div>
        </div>
        <div>
            <div>
                <span>Lecciones realizadas</span>
                <span>{{lecciones_terminadas}}</span>
            </div>
            <div>
                <span>Respuestas correctas</span>
                <span>{{respuestas_correctas}}</span>
            </div>
            <div>
                <span>Total de respuestas</span>
                <span>{{respuestas_totales}}</span>
            </div>
        </div>
    </span>
    <img src="{{personaje}}">
    
</div>
