<div class="oit-reporte-usuarios-item">
	<div>
		<h2>{{nombre}}</h2>
		<span>{{correo}}</span>
	</div>
	<div class="fecha">{{fecha_actividad}}</div>
	<div class="lecciones">{{lecciones}}</div>
	<div class="cursos">{{cursos}}</div>
	<div class="estado">{{estado}}</div>
</div>