<div id="oit-puntaje" class="{{estado}}">

    <span style="margin-top: 100px;">
        <p style="width: 300px;font-size: 14pt;">La nota de este diagnóstico no será tenida en cuenta en la calificación final.</p>
    </span>
    <img height="340" src="{{personaje}}">
    
</div>
