<div>
	<h3>¿Esta seguro de eliminar esta entrada?</h3>
	<a class="btn btn-secondary" href="/oit/glosario.php?filtro={{filtro}}">Volver</a>
	<a class="btn btn-primary" href="/oit/glosario.php?confirmerase={{id}}&filtro={{filtro}}">Eliminar</a>
</div>