<a class="" href="/oit/glosario.php?erase={{id}}&filtro={{filtro}}">
	<i class="fa fa-trash"></i>
</a>
<a class="" href="/oit/glosario.php?edit={{id}}&filtro={{filtro}}">
	<i class="fa fa-pencil"></i>
</a>