    <footer id="pie">
       <img src="/oit/img/futher-1024.png">
       <div>
         <h1>¿TIENES ALGUNA DUDA<br> O SUGERENCIA SOBRE LA PLATAFORMA?</h1>
         <p>AVISO DE PRIVACIDAD</p>
         <ul>
           <li><a href="">·Política de Tratamiento de Datos Personales</a></li>
           <li><a href="">·Política de Privacidad y Condiciones de Uso del Portal Web</a></li>
        </ul>

     </div>
     <form>
      <div>
        <div>Nombre</div>
        <input type="text" name="nombre">
     </div>
     <div>
        <div>Correo</div>
        <input type="email" name="correo">
     </div>
     <textarea></textarea>
     <button>Enviar</button>
  </form>
</footer>
<style type="text/css">
#pie img {
 position: absolute;
 filter: opacity(0.5);
 left: 50%;
 display: none; 
 transform: translate(-50%,0);
}
#pie{
 /*background-color: #452b7e;*/
 display: flex;
 min-height: 218px;
 background: linear-gradient(to right, #533f89 , #361874);
}
#pie>div {
 margin: 86px 20px auto auto;
 font-size: 8px;
 color:  white;
 font-weight:  bold;
 height: 92px;
}
#pie>div>h1 {
 color: white;
 font-family: 'Archivo Black', sans-serif;
 font-size: 15pt;
 margin-bottom: 13px;
}
#pie>div>p {
 font-size: 7pt;
 margin-bottom: 0;
 line-height: 7px;
}
#pie>div>ul {
 display: block;
 list-style: none;
 padding-left: 0;
}
#pie>div>ul>li {
 height: 10px;
}
#pie>div>ul>li>a {
   color: white;
   font-size: 7pt;
   line-height: 4pt;
   height: 10px;
}
#pie>form{
  margin: 31px 0;
  margin-right: auto;
  font-family: 'Istok Web', sans-serif;
  display: flex;
  flex-direction: column;
  width: 222px;
}
#pie>form>div{
  height: 21px;
  margin-bottom: 8px;
  display: flex;
  /* margin-top: 14px; */
}
#pie>form>div>div{
  background-color: #d8d8d8;
  border-radius: 1rem 0 0 1rem;
  color: #606060;
  height: 100%;
  width: 70px;
  padding: 4px 5px 0 9px;
  display:  inline-block;
  font-size: 8pt;
  box-sizing: border-box;
  text-align: center;
}
#pie>form>div>input{
  height: 100%;
  border: none;
  border-radius: 0 15px 15px 0;
  width: 250px;
}
#pie>form>textarea{
  resize: none;
  height: 76px;
  border-radius: 10px;
  margin-bottom: 7px;
}
#pie>form>button{
  border: none;
  height: 21px;
  width: 51px;
  padding: 0;
  margin-left: auto;
  border-radius: 7px;
  background-color: #2a8fe2;
  color: white;
  font-size: 12px;
}

@media(max-width: 768px){
  #pie{
    flex-direction: column;
 }
 #pie>form{
    margin-left: auto;
    max-width: 90%;
    margin-bottom: 20px;
 }
 #pie>div>h1{
    margin-top: 20px;
    margin-right: auto;
    max-width: 90%;
 }
}
</style>
<script type="text/javascript">
  var el=document.getElementById('mycourses');
  if(el){
    if(el.children.length===0){
      var enlace = document.createElement("a");
      enlace.href='/';
      enlace.appendChild(document.createTextNode('Cursos'))
      el.innerHTML=enlace.outerHTML;
   }
}

var els=document.getElementsByClassName('breadcrumb-item');
for (var i = els.length - 1; i >= 0; i--) {
 if(els[i].innerText=="general"){
   els[i].remove();
}
}

document.querySelector('[data-key="profile"]').insertAdjacentHTML('beforebegin','<br>');
</script>