<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<h1>Nivel técnico</h1>
<div class="tabla">
	<div>
		<h1>¿Qué hace?</h1>
		<ul>
			<li>Ejecutar acciones propias de la recolección y registro de información conforme a los procesos y procedimientos de IVC</li>
		</ul>
	</div>
	<div>
		<h1>¿Cómo lo hace?</h1>
		<ul>
			<li>Ejecuta trámites, gestión documental y soporte técnico.</li>
			<li>Presenta informes pertinentes a los planes estratégicos y operativos requeridos por la dependencia.</li>
		</ul>
	</div>
	<div>
		<h1>¿A través de que lo hace?</h1>
		<ul>
			<li>Conforme a las competencias dadas por la Resolución 03811 de 2018 (págs. 390 y ss.)</li>
		</ul>
	</div>
</div>