<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">

<div class="cuadricula cuadricula-2-2">
	<div style="background-color: #ef8400;"><h1>Se respeta la legislación laboral pertinente en los centros de trabajo con el objetivo de lograr condiciones de trabajo y empleo decentes.</h1></div>
	<div style="background-color: #0378b4;"><h1>Tanto empleadores como trabajadores obtienen la información y la orientación necesaria para cumplir con los requisitos legales.</h1></div>
	<div style="background-color: #6f9dc9;"><h1>Las empresas adoptan medidas adecuadas para garantizar que las prácticas y el ambiente laboral no ponen en peligro la seguridad y salud de los trabajadores.</h1></div>
	<div style="background-color: #a1c3e1;"><h1>Se utilizan la retroalimentación y las lecciones prácticas aprendidas como medios de desarrollo de la legislación, para mejorar la cobertura legal, teniendo en cuenta los nuevos riesgos sociales, físicos y psicológicos relacionados con el trabajo.</h1></div>
</div>