<thead>
	<tr>
		<th colspan="1"><a href="{{sort_firstname}}">Usuario {{ico_sort_firstname}}</a></th>
		<th colspan="1" class="celda"><a href="{{sort_actividad}}">Lecciones {{ico_sort_actividad}}</a></th>
		<th colspan="1" class="celda"><a href="{{sort_evaluacion}}">Evaluación {{ico_sort_evaluacion}}</a></th>
		<th colspan="1" class="celda"><a href="{{sort_total}}">Total {{ico_sort_total}}</a></th>
	</tr>
</thead>