<tr class="fila-reporte {{color}}">
	<td class="imagen usuario celda">	
		{{imagen}} 
		<div>	
			<h3>
				<a href="/oit/perfil.php?id={{id}}">
					{{firstname}} {{lastname}}
				</a>
			</h3>
			<p>
				{{email}}
			</p>
			<p>
				{{departamento}}
			</p>
		</div>
	</td>
	<td class="celda">
		{{actividad}}
	</td>
	<td class="celda">
		{{evaluacion}}
	</td>
	<td class="celda">
		{{total}}
	</td>
</tr>