<script src="https://code.highcharts.com/highcharts.js"></script>


<table style="width: 100%;">
    <tr id="pie-ranking">
        <td id="activacion" style="height: 400px"></td>
        <td id="estado" style="height: 400px"></td>
    </tr>
</table>


<script>
    Highcharts.chart('estado', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            width:360
        },
        colors:[
        '#e85656',
        '#62ad60',
        '#f7c041'
        ],
        title: {
            text: {{titulo}}
        },
        credits:{
            enabled:false
        },
        tooltip: {
            formatter:function(){
                return this.point.name+" "+Math.round(this.point.percentage*10)/10+"%<br>"+this.point.y+" personas";
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true,
                events: {
                    click: function (event) {
                        window.location.href="{{url}}&estado="+event.point.name;
                    }
                }
            }
        },
        series: [{
            colorByPoint: true,
            data: {{data}}
        }]
    });

    Highcharts.chart('activacion', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            width:360
        },
        colors:[
        'rgba(25, 69, 117, 0.7)',
        '#d3d3d3'
        ],
        title: {
            text: {{tituloActivacion}}
        },
        credits:{
            enabled:false
        },
        tooltip: {
            formatter:function(){
                return this.point.name+" "+this.point.percentage+"%<br>"+this.point.y+" personas";
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true, 
                events: {
                    click: function (event) {
                        window.location.href="{{url}}&estado="+event.point.name;
                    }
                }
            }
        },
        series: [{
            colorByPoint: true,
            data: {{dataActivacion}}
        }]
    });
</script>

