<tr>
	<td class="curso">
		<a href="/oit/rankingpanel.php?id={{idcurso}}&departamento={{departamento}}">
			{{nombrecurso}}
		</a>
	</td>
	<td class="progressbar">
		<div class='progress'>
			<a href="/oit/rankingpanel.php?id={{idcurso}}&departamento={{departamento}}">
				<span class='progress-bar progress-bar-activos' role='progressbar' style='width:{{porcentajeactivos}}%' data-toggle="tooltip" data-placement="top" title="{{activos}}">
					{{activos}}
				</span>
				<span class='progress-bar progress-bar-inactivos' role='progressbar' style='width:{{porcentajeinactivos}}%' data-toggle="tooltip" data-placement="top" title="{{inactivos}}">
					{{inactivos}}
				</span>
			</a>
		</div>
	</td>
	<td class="porcentaje">
		<a href="/oit/rankingpanel.php?id={{idcurso}}&departamento={{departamento}}">
			{{porcentajeactivos}}%
		</a>
	</td>
</tr>