<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<style type="text/css">
/*.oit-container .page-header-headings{
	background-color: #194575;
}*/
.progress-bar.progress-bar-activos {
	background-color: rgba(25, 69, 117, 0.7);
}
.progress-bar.progress-bar-inactivos {
	background-color: lightgray;
}
.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: rgba(25, 69, 117, 0.7);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.progress-bar:hover,
.progress-bar:focus
 {
	color: #fff;
}
.progress {
	display: block;
	width: 100%;
	height: 20px;
	margin-bottom: 0px;
	overflow: hidden;
	background-color: #f5f5f5;
}
.progressbar{
	width:450px;
}
path.highcharts-point:hover {
    cursor: pointer;
}
#reporte{
	width:100%;
}
#reporte .curso{
    width: 350px;
}

#reporte .porcentaje {
	text-align:center;
	width: 100px;
}
/*div#nav-drawer{
	display:none!important;
}
#page.container-fluid{
	margin-left: 112px!important;
}*/
</style>
<div id="container"></div>

<script type="text/javascript">
	
	setBootstrapTooltips({html:true});
	var ids={"la-guajira":"mmYijbVkZJFx",
	"magdalena":"fJ0AY6MrQdkO",
	"cesar":"uYDZLRMznHN1",
	"atlántico":"fOZ8yck4hEhw",
	"bolívar":"HJDaKE0KnHRB",
	"norte-de-santander":"qtmXc7oT0veP",
	"sucre":"6td5x2uVoFg7",
	"cordoba":"x1FIkYSyncml",
	"santander":"56eqTJLHwHic",
	"antioquia":"2CnBRA8Ffs3N",
	"chocó":"q2LDAaOwja82",
	"boyacá":"5ugn9x4FjSm7",
	"cundinamarca":"6XUjwTdm24Q5",
	"arauca":"4HKw7w6B0vxo",
	"casanare":"lU5nBEl72iPw",
	"caldas":"MzreIpIp3AWs",
	"risaralda":"pd3S3ywB9Ozh",
	"quindío":"yrzMkgug4NK6",
	"valle-del-cauca":"x1glbR7q9nwg",
	"cauca":"OId9Tj9qQHRW",
	"nariño":"nRVfTaC3w2FX",
	"putumayo":"xBVX3xBNbNCs",
	"amazonas":"wsJJuS6YhVZZ",
	"caquetá":"6K6JpI050Brd",
	"guaviare":"DIaRHud5wEhm",
	"vaupés":"ttQqmp6wtbzT",
	"guainía":"oO4JfsSs2wmG",
	"vichada":"569JD3tp2EAC",
	"meta":"MdryZyC0cBPR",
	"huila":"cmv00CX5Nb90",
	"tolima":"ISGMFbmmgV2U",
	"bogotá":"cmpj4ds2e0OT",
	"san-andrés-y-providencia":"lj12vOORA9lr"};
	var mapa={{data}};
	
	Highcharts.mapChart('container', {

		chart: {
			height: 700
		},

		title: {
			text: ''
		},
		mapNavigation: {
			enabled: false
		},
		legend: {
			layout: 'vertical',
			borderWidth: 0,
			backgroundColor: 'rgba(255,255,255,0.85)',
			align: 'left',
			floating: false
		},
		tooltip: {
			formatter: function () {
				return this.point.name + ' ' + Math.round(this.point.value)+'%<br>'+ Math.round(this.point.total)+' Personas<br>'+Math.round(this.point.value*this.point.total/100)+' Activas';
			}
		},
		credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		},

		colorAxis: {
			min: 0,
			max: 100,
			minColor: '#d3d3d3',
			maxColor: 'rgba(25, 69, 117, 0.7)',
			labels:{
				format:"{value}%"
			}
		},
		plotOptions:{
			map:{
				events: {
					click: function (event) {
						// console.log(event);
						window.location.href=window.location.protocol+"//"+window.location.hostname+"/oit/panel.php?departamento="+event.point.name;
					}
				}
			}
		},
		series: [{
			data: mapa,
			name: 'Reporte territorial',
			states: {
				hover: {
					enabled: false
				}
			},
			dataLabels: {
				enabled: false,
				format: '{point.name}'
			}
		}]
	});

</script>