<div class="contenedor-buscador m-t-2">
	<label class="m-r-1">Buscar usuario: </label>
	<input id="buscador" class="buscador" type="text" name="busqueda">
	<a onclick="buscar()" class="btn btn-primary borde">Buscar</a>
</div>
<table id='resultado' class="m-t-2 m-d-2 generaltable flexible"></table>
<script type="text/javascript">
	xhttp = new XMLHttpRequest();
	buscar=function(){	
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				console.log(this.responseText);
				document.getElementById('resultado').innerHTML=this.responseText;
			}
		};
		
		xhttp.open("POST", "/oit/lib/buscador.php", true);
		xhttp.send(JSON.stringify({termino:document.getElementById('buscador').value}));
	}
</script>