<tr class="fila-busqueda">
	<td class="imagen usuario celda">	
		{{imagen}} 
		<div>	
			<h3>
				<a href="/oit/perfil.php?id={{id}}">
					{{firstname}} {{lastname}}
				</a>
			</h3>
			<p>
				{{email}}
			</p>
			<p>
				{{departamento}}
			</p>
		</div>
	</td>
</tr>