

$breadcrumb-divider: "▶" !default;
$breadcrumb-divider-rtl: "◀" !default;

@import "fontawesome/moodle-path";
@import "fontawesome/font-awesome";


@import "bootstrap/bootstrap";


@import "moodle/bootstrap-rtl";

@import "moodle/core";
@import "moodle/icons";
@import "moodle/admin";
@import "moodle/blocks";
@import "moodle/bootswatch";
@import "moodle/calendar";
@import "moodle/course";
@import "moodle/drawer";
@import "moodle/filemanager";
@import "moodle/message";
@import "moodle/question";
@import "moodle/user";
@import "moodle/search";
@import "moodle/forms";
@import "moodle/login";
@import "moodle/modules";
@import "moodle/chat";
@import "moodle/reports";
@import "moodle/backup-restore";
@import "moodle/tables";
@import "moodle/buttons";
@import "moodle/grade";
@import "moodle/templates";
@import "moodle/undo";
@import "moodle/debug";
@import "moodle/expendable";
@import "moodle/sticky-footer";
@import "moodle/popover-region";
@import "moodle/tool_usertours";
@import "moodle/responsive-tabs";
@import "moodle/bs2-compat";
@import "moodle/print";
@import "moodle/modal";

/*Paleta de colores*/
$gris:#d8d8d8;	/*timberwolf*/
$gris-claro:#f4f4f4; /*white smoke*/
$gris-oscuro:#b3b3b3; /*ash grey*/

$tono-1:$brand-primary; /*celadon green*/
$tono-2:rgba(25, 69, 117, 0.7); /*rackley*/
$tono-3:#477d90; /*queen blue*/
$tono-4:#c4dde2; /*columbia blue*/
$tono-5:#1d7aaf; /*cerulean*/
$tono-6:#cfeffc; /*azureish white*/
$tono-7:#31708f; /*teal blue*/
$tono-8:#3a5ea5; /*lapis lazuli*/
$tono-9:rgba(43, 143, 226, 0.42); /*bleu de france con transparencia*/
$tono-10:#00b1aa; /*amazonite*/

/*Colores de elementos transversales*/
$color-boton:$tono-8;
$color-boton-hover:$tono-8;
$color-titulo:$tono-2;
$color-fuente:#4c4c4c; /*dark liver*/

/* Colores feedback*/
$color-verde:#62ad60; /*dark spring green*/
$color-rojo:#e85656;

/*Colores tablas*/
$color-fondo-tablas:$tono-9;

/*Colores de primer nivel*/
$color-progreso:white;
/*---------Generales--------*/
body{
	font-family: Lato,Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: $color-fuente;
}
h1,h2,h3{
	/*font-family: 'Montserrat', sans-serif;*/
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:focus {
	outline: none!important;
}
.generaltable tbody tr:hover,
table.flexible tbody tr:hover{
	background-color: $color-fondo-tablas;
}
table.flexible th i{
	// display:none;
}
.question-index,
.que .formulation {
	color: #4c4c4c!important;
}
.singlebutton.glossaryaddentry {
	display: none;
}
a,button,input{
	color:$brand-primary;

	&.btn-secondary, 
	&.btn-default,
	&.btn-secondary:hover, 
	&.btn-default:hover,
	&.mod_quiz-next-nav{
		background-color: $tono-2;
		outline: none;
		box-shadow: none;
		color: white;
		border:none;
	}
	&:hover,
	&:focus{
		color:$brand-primary;
		text-decoration: none!important;
	}
}
.descripcion li {
	/*list-style-image: url(/oit/img/bullet.png);*/
}
.navbar-light {
	.container-fluid.navbar-nav {
		height:  60px;
	}
}
button.btn.disabled {
	background-color: #595958;
	opacity: 1;
	pointer-events: none;
	>i.fa{
		margin-left: 10px;
	}
}
.tooltip {
	>.tooltip-inner {
		font-family: Lato,Helvetica,Arial,sans-serif;
		background-color: lightgrey;
		color: black;
	}
	.tooltip-arrow {
		border-top-color:lightgrey!important;
	}
}
.h5p-iframe-wrapper {
	margin-top: 15px;
}
.table, table.collection, table.flexible, .generaltable{
	margin-bottom: 0;
}
/*---------Botones--------------*/
.submitbtns a,
.breadcrumb-button button,
.breadcrumb-button button:hover,
.breadcrumb-button button:focus,
.breadcrumb-button button:active,
.breadcrumb-button button:active:hover,
.btn-primary,
.oit-boton{
	padding: 5px 10px;
	border-radius: 5px;
	color: white!important;
	&:hover,
	&active:hover,
	&:active,
	&:focus{
		color: white!important;
		background-color:$color-boton-hover!important;
	}
}
.breadcrumb-button button{
	margin-bottom:20px;
	.oit-boton{
		float: left;
		height: 29px;
	}
}
/*---------Cajon Principal------*/
#page{
	max-width: 800px;
	width: 100%;
	&.container-fluid{
		padding:0!important;
		padding-top:20px!important;
		margin-top: 72px;
	}
	.row{
		margin:0!important;
	}
	#region-main-box{
		padding:0!important;
		#region-main.has-blocks{
			/*width: 100%; */
		}
	}
	#page-header{
		.col-xs-12{
			padding:0!important;
		}
	}
}
.card{
	position: none; 
	margin-bottom: 0; 
	border: none; 
}
.card-block{
	padding: 0 18px;
}
.oit-container{
	.oit-leccion-heading.page-header-headings {
		border-radius: 5px;
		width: 100%;
		color: white;
		display: flex;
		padding: 8px 27px;
		margin:0;
		h1 {
			font-size: 13pt;
			font-weight: bold;
			width: 90%;
			display: inline-block;
			text-align: left;
			padding: 7px 0;
			/*padding-left: 70px;*/
			margin: 0;
			float: left;
		}
		span {
			padding: 7px 0;
			width: 100px;
			letter-spacing: 0.4pt;
			border-right: 1px solid;
		}
	}
	.page-header-headings {
		border-radius: 5px;
		background-color: $color-titulo;
		color:  white;
		margin-bottom: 20px;
		padding: 5px 18px;
		width:100%;
		h1 {
			font-size: 20pt;
			font-weight: 600;
			margin-top: 5px;
		}
	}
	div#page-content{
		padding-bottom: 18px;
	}
	.messaging-area-container{
		margin-bottom:18px;
	}
	.card-block::after,
	.row:after{
		// display:none;
	}
}
#page-course-index-category{
	.buttons{
		margin-bottom:0;
	}
}


/*----------Miga de pan-------*/
.breadcrumb-nav{
	margin-bottom: 10px;
	.breadcrumb {
		padding: 0;
		.breadcrumb-item{ 
			font-size: 0.95rem;
			list-style-image:none;
			a{
				font-weight: 600;
			}
			+.breadcrumb-item::before {
				padding: 0 4px;
			}
			&:last-child{
				display:none;
			}
		}
	}
}

li.breadcrumb-item:nth-child(1),
.initialbar,
li.breadcrumb-item:nth-child(2):before{
	display:none;
}
.navbar-nav{
	.navbar-brand.has-logo {
		padding:  0;
		position:  absolute;
		left: 0;
	}

	button.btn.pull-xs-left.m-r-1.btn-secondary {
		position:  absolute;
		z-index:  1;
	}
}
/*----------Formularios----------*/
.mform{
	margin: auto;
	fieldset{
		border-bottom: none;
		margin-left: 0;
	}
	.fitem{
		.col-md-3 {
			width: none; 
			padding-right: 5px;
			padding-left: 0;
		}
		.col-md-9.felement {
			padding-left: 0;
			input[type=text]{
				width:100%;
				margin-bottom:10px
			}
			input[type=submit]{
				float:right;
				margin-bottom:20px;
			}

		}
	}
}
/*----------Cursos---------*/
#coursesearch{
	display:none;
}

.region_main_settings_menu_proxy{
	margin-bottom:20px;
}
.oit-curso {
	height: 286px;
	display: flex;
	width: 100%;
	align-items: baseline;
	margin-bottom: 18px;
	/*font-family: Lato,Helvetica,Arial,sans-serif;*/
	padding: 24px;
	&:last-of-type {
		margin-bottom: 0;
	}
	>.descripcion {
		color: white;
		max-width: 476px;
		width: 100%;
		margin-top: auto;
		/*text-transform: uppercase;*/
		font-weight: 400;
		margin-right: 20px;
		>h2 {    
			font: inherit;
			font-size: 17pt;
			margin-bottom: 0;
			line-height: 29px;
			background: rgba(0,0,0,.6);
			color: white;
			padding: 5px 10px;
			text-shadow: 1px 3px 7px black;
		}
		>h3 {
			font: inherit;
			font-size: 13pt;
			color: white;
			opacity: 0.5;
			letter-spacing: 1px;
			/*font-weight: 100;*/
		}
		>div {
			height: 79px;
			overflow:  hidden;
			width: 100%;
			/*max-width: 300px;*/
			font-size:  10pt;
			line-height: 15pt;
			>p {
				margin-bottom:  0;
			}
		}
	}
	>.accion {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 240px;
		>.info{
			background: rgba(0, 0, 0, 0.6);
			min-width: 240px;
			width: 100%;
			height: 100%;
			padding: 30px;
		}
		>*{
			margin: 0 auto;
			text-align: center;
			color:dimgray;
		}
		>:first-child{
			margin-top: auto;
		}
		>:last-child{
			margin-bottom: auto;
		}
		>a {
			width: 100%;
			max-width: 184px;
			flex: 0 0 30px;
			padding-top: 8px;
			color: white;
		}
	}
}
.info{
	color: $color-fuente;
	padding: 25px 19px;
	width: 100%;
	max-width:  246px;
	height: 220px;
	text-align: center;
	display: flex;
	flex-direction: column;
	>* {
		margin-bottom: 10px;
		color: white;
	}
	>:first-child{
		margin-top: auto;
	}
	>:last-child{
		margin-bottom: 0;
	}
	>h1{
		display: inline-block;
		font: inherit;
		font-weight: 700;
		font-size: 40pt;
		line-height: 50px;
		margin-bottom: 0;
		&+p{
			margin-bottom: 10px;
		}
	}
	>h4{
		font-size: 10pt;
	}
	>p{
		display: inline-block;
		font-size: 15pt;
		font-weight: normal;
		margin-bottom: auto;
		line-height: 17pt;
		>i{
			margin-right: 0;
		}

	}
	>.completion-bar{
		background-color: white;
		margin: 0 auto 24px auto;
	}
	>a.oit-boton {
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		padding: 16px;
		border-radius: 4px;
		color: white;
		font-weight: 600;
		font-size: 9pt;
		letter-spacing: 1px;
		background-color: $color-boton;
		&.gris{
			background-color: lightgray;
			pointer-events: none;
			cursor: default;
			text-decoration: none;
		}
	}
	.progreso {
		height: 5px;
		margin-bottom: 8px;
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		>div {
			height: 5px;
			flex: 1 1;
			margin-right: 5px;
			border-radius: 2px;
			&.desactivado {
				background-color: rgba(255, 255, 255, 0.5);
			}
			&.activado {
				background-color: $color-progreso;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

}


.courses  a {
	width:  100%;
	max-width:  750px;

	img {
		width:  100%;
		height:  auto;
		max-width:  750px;
	}
}

.coursesearchbox.invisiblefieldset{
	display: none;
}

#oit-puntaje{
	height: 338px;
	width: 764px;
	background: url(/oit/img/footer/footer.png); 
	&.mal,
	&.rojo{
		background: url(/oit/img/footer/footer_mal.png); 
	}
	&.bien,
	&.verde{
		background: url(/oit/img/footer/footer_bien.png); 
	}
	>img{
		float: right;
		margin: 0px 55px;
	}
	>span{
		display: inline-block;
		margin: 40px 0 0 70px;
		>div:first-child {
			/*display: flex;*/
			/*color: #214e8a;*/
			>h1{
				font-size: 45pt;
				font-weight: 700;
				text-align: center;
				margin: 0;
			}
			>div{
				/*margin-top: 15px;*/
				/*margin-left: 16px;*/
				text-align: center;
				>h2{
					margin: 0;
					font-weight: 700;
					font-size: 25pt;
				}
				>p{
					font-size: 16pt;
					margin: 0;
				}
			}
		}
		>div:last-child {
			color: #4c4c4c;
			>div{
				width: 258px;
				margin: auto;
				height: 30px;
				border-bottom: 1px solid #e3eaed;
				display: flex;
				padding-top: 3px;
				&:last-child{
					border: none;
				}
				>span{
					font-weight: 400;
					&:last-child{
						font-weight: 400;
						margin-left: auto;
						margin-right: 20px;
					}
				}
			}
		}
	}
}

/*--------Curso--------*/
table#table-course {
	margin: auto;
	display:  block;
	@media screen and (min-width:800px){
		max-width: 760px;
	}
	@media screen and (max-width:800px){
		max-width: 750px;
		width: 100%;
	}
	tbody {
		width:  100%;
		display:  block;
		td{
			float:left;
			max-width:380px;
			margin-left:0;
			img {
				width:  100%;
			}
			>a{
				position:  relative;
				>div.puntaje {
					position:  absolute;
					left: 65%;
					>h1 {
						padding: 10px 0;
						background-color: sandybrown;
						display:  inline-block;
						text-align:  center;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						border: solid white;
						color:  white;
						&.rojo{
							background-color: $color-rojo;
						}
						&.verde{
							background-color: $color-verde;
						}
					}
					@media screen and (min-width:769px){
						width: 63px;
						height: 63px;
						top: 1px;
						>h1{		
							font-size:  25pt;
							line-height: 22px;
						}
					}
					@media screen and (max-width:768px){
						width: 7vw;
						height: 7vw;
						top: 5px;
						>h1{	
							padding: 0;	
							font-size: 2.7vw;
							line-height: 5vw;
						}
					}
				}
			}
			&[colspan='3'] {
				max-width:none;
				width:100%
			}
		}
	}
}

table.answer{ 
	tr,tbody,td.text,td.control {
		display:  block;
	}

	select {
		width: 90%;
	}
}

span.instancegrade {
	display:  block;
}
.curso{
	.info {
		float: right;
		width: 200px;
		margin: 0 0 10px 10px;
		box-shadow: none;
		border: solid 1px dimgray;
	}
}

.oit-leccion{
	margin: 10px 0;
	border-bottom: 1px solid lightgray;
	width: 100%;
	padding-left: 15px;
	border-radius: 5px;
	&:last-child{
		border-bottom:none;	
	}
	display:flex;
	color:$color-fuente;
	&:last-child{
		border-bottom: none;
	}
	>.descripcion{
		/*font-weight: 100;*/
		width: 596px;
		>h3{
			font-size: 15pt;
			margin: 0 0 8px 0;
			font-weight: 600;
			-webkit-font-smoothing: auto;
			moz-osx-font-smoothing: none;
		}
		p{
			>span{
				font-size: 16px!important;
			}
		}
		>div{
			font-size: 12pt;
			line-height:21px;
			*{
				margin:0;
				line-height:inherit;
			}
			>.ultima-modificacion{
				font-weight: 700;
			}
			>p {
				margin-bottom: 10px;
			}
			ul{
				padding-left: 24px;
			}
		}
	}
	>.leccion-info{
		padding:20px;
		padding-top: 0;
		position: relative;
		margin: 0 auto;
		display: flex;
		align-items: center;

		img{
			// position: relative;
			// top: 50%;
			// transform: translate(0,-50%);
			&.puntaje{
				height: auto;
				position: absolute;
				top:calc(50%+33px);
				top: 52%;
				width: 35px;
				left: 67px;
			}
		}

	}
}


/*------Boton login--------*/
.usermenu{
	.login{
		a {
			padding: 5px 10px;
			border-radius: 5px;
			color: white;
			/*background-color: dodgerblue;*/

			&:hover,
			&:focus{
				color: white;
				text-decoration: none;
			}
		}
	}
}

/*---------Login--------*/
.oit-login{
	.card-title{
		display: none;
	}
	form{
		margin-top: 33px!important;
	}
	.forgetpass{
		margin-bottom: 33px;
		>p>a{
			font-size: 10pt;
		}
	}
	#username{
		margin-bottom: 10px;
	}
	.btn-primary,
	.btn-primary:hover,
	.btn-primary:active:focus{
		background-color: $tono-2;
		border-color: $tono-2;
	}
}

/*----------Pie---------*/
#pie{
	// display: flex;
	min-height: 218px;
	background-color: $brand-primary;
	>div {
		/*margin: 55px 20px auto auto;*/
		margin: auto;
		font-size: 8px;
		color:  white;
		font-weight:  bold;
		min-height: 92px;
   		padding: 20px 0;
		>div{
			// display: flex;
			>div{	
				width: 385px;
				height: 122px;
				display: inline-block;
				float: left;
				margin-right: 20px;
				padding-top: 38px;
				padding-right: 20px;
				border-right: 1px solid;
			}
			>p{
				display: inline-block;
				width: 395px;
				font-weight: 100;
				font-style: italic;
				font-size: 9pt;
			}
		}
		>h1 {
			margin-bottom: 20px;
			width: 800px;
			>a{
				color: white;
				font-size: 22pt;
				margin-bottom: 13px;
			}
		}
		>p {
			font-size: 10pt;
			margin-bottom: 0;
			/*line-height: 7px;*/
		}
		>ul {
			display: block;
			list-style: none;
			padding-left: 0;
			>li {
				height: 10px;
				margin-bottom: 5px;
				>a {
					color: white;
					font-size: 9pt;
					/*line-height: 4pt;*/
					height: 10px;
				}
			}
		}
	}
	>form{
		margin: 31px 0;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		width: 222px;
		>div{
			height: 21px;
			margin-bottom: 8px;
			display: flex;
			>div{
				background-color: $gris;
				border-radius: 5px 0 0 5px;
				color: $color-fuente;
				height: 100%;
				width: 70px;
				padding: 4px 5px 0 9px;
				display:  inline-block;
				font-size: 8pt;
				box-sizing: border-box;
				text-align: center;
			}
			>input{
				height: 100%;
				border: none;
				border-radius: 0 5px 5px 0;
				width: 250px;
			}
		}
		>textarea{
			resize: none;
			height: 76px;
			border-radius: 10px;
			margin-bottom: 7px;
			padding:5px;
			border-color:$brand-primary;
		}
		>button{
			border: none;
			height: 21px;
			width: 51px;
			padding: 0;
			margin-left: auto;
			background-color: dodgerblue;
			color: white;
			font-size: 12px;
		}
	}
}
/*---------Perfil---------*/
#perfil_top {
	display:  flex;
	margin-bottom: 20px;
	a {
		margin-right:  10px;
	}
	.oit-info{
		>h1,
		>h4{
			margin-bottom: 0; 
		}
	}
	.oit-boton {
		display: inline-block;
	}
}

#tabla_perfil {
	margin-bottom: 0;
	tr{
		&.rojo{
			background-color: rgba(232,86,86,.5)!important;
		}
		&.verde{
			background-color: rgba(98,173,96,.5)!important;		
		}
		&.amarillo{
			background-color: rgba(247,192,65,.5)!important;
		}
		&.gris{
			background-color: $gris-claro!important;
		}
		td,th{
			display: inline-block;
			width: 140px;
			text-align: center;
			&:first-child{
				width: 180px;
				text-align: left;
			}

		}
		td{
			font-size: 12pt;
			&:first-child{
				font-size: 11pt;
			}
			p{
				margin-bottom: 0;
				&.estado {
					font-size: 10pt;
				}
			}

		}
	}
}
/*---------Mensajes------*/

.messaging-area-container .messaging-area {
	.btn-link{
		color:dodgerblue;
	}
	.messages-area{
		.response .message-box {
			.message-text-container textarea{
				border-radius: 5px;
			}
			button.btn-link{
				color:white;
				margin-left: 10px;
			}
		}
		.messages .message .content{
			border-radius: 5px;
			&.right{
				border-bottom-left-radius: 20px;
			}
			&.left{
				border-bottom-right-radius: 20px;
			}
		}
	}
	.contacts-area {
		.searchtextarea input{
			margin-top: 7px;
			border-radius: 5px;
		}
		.contacts .contact.selected{
			padding:5px;
			background-color:dodgerblue;
		}
		.tabs .tab {
			padding: 7px;
			&:hover,
			&.selected{
				color:dodgerblue;
			}
			.tabimage{
				height:auto;
			}
		}
	}
}
/*--------Glosario-----*/
.glossarycategoryheader{
	h3 {
		background: dimgrey;
		color: white;
		padding: 5px;
		border-radius: 50%;
		width: 36px;
		text-align: center;
		font-weight: 700;
	}
}

.paginacion-glosario{
	display: flex;
	width: 100%;
	.page-item{
		&:first-child{
			margin-left:auto;
		}
		&:last-child{
			margin-right:auto;
		}
	}
}
/*--------Documentos-----*/
.filemanager{
	&>ul>li>.fp-filename-icon,
	.ygtvdepth0 ,
	.ygtvtn ,
	.ygtvln {
		display:  none;
		&li{
			display:  none;

		}
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
	}
	span.fp-icon {
		width: 30px;
		height: 30px;
		margin:  0;
		margin-right:  10px;
		img.icon {
			width: 80%;
			height:  auto;
			max-height: none;
			max-width:  none;
			margin:  0;
		}
	}
}


span.fp-filename {
	font-size: 14pt;
}

/*---------Dashboard-------------*/
#dashboard-accion{
	margin-bottom: 20px;
}
.panel-tabla{
	margin-bottom:20px;

	.panel-encabezado {
		padding: 10px;
		margin-top: 10px;
		background-color: $tono-5;
		color: white;
		font-size: 12pt;
		&:hover {
			cursor: pointer
		}
		span:last-child {
			float: right;
		}
		i {
			margin-right: 10px;
		}
	}

	.panel-contenido {
		margin-bottom: 5px;
		background-color: $tono-6;
		color: $color-fuente;
		padding: 5px;
		display: flex;
		span {
			float: right;
			text-align: left;

			&:first-child {
				margin-right: auto;
				float: none;
			}

			&:nth-child(2) {
				margin-right: 20px;
				border-right: 2px solid white;
				padding-right: 20px;
			}

			&:last-child {
				width: 61px;
				margin-right: 0;
			}
		}

		&.panel-titulo{
			background-color: $color-titulo;
			color: white;
		}
	}
}

/*---------Evaluacion--------*/
#mod_quiz_preflight_form .col-md-3,
.outcome{
	display: none;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton{
	color: #4c4c4c;
}
.qnbutton{

	&.correct .trafficlight{
		background-color: $color-verde!important;
	}
	&.notanswered .trafficlight,
	&.incorrect .trafficlight{
		background-color: $color-rojo!important;
	}
}
.answer{
	.fa-check{
		color:$color-verde!important;
	}
	.fa-remove{
		color:$color-rojo!important;
	}
}
.questionflagsaveform {
	~.submitbtns{
		padding: 0!important;
		a{
			margin-right: -25px;
		}
	}
	.deferredfeedback {
		padding: 12px;
		display: flex;
		margin-bottom: 18px;
		background-color: white;
		.formulation{
			padding: 0;
		}
	}
}
span#quiz-time-left {
	font-size: 14pt;
}
#page-mod-quiz-summary #quiz-timer{
	text-align:left!important;
}
#quiz-timer{
	.card-title{
		color: black;
		margin: 0px;
	}
}
#responseform,
.questionflagsaveform,
table.quizreviewsummary {
	width: 510px;
	.que {
		flex: 1 1;
		margin-bottom: 10px;
		.info {
			display: none;
		}
		.content {
			margin: 0;
			.formulation {
				background: transparent;
				border: none;
				padding-left: 0;
				padding-bottom: 0;
				margin: 0;
			}
		}
	}


	span.question {
		display: flex;
		margin-bottom: 18px;
		background-color: white;

		>.question-index {
			padding: 12px;
			font-size: 12pt;
			height: 100%;
			margin-bottom: auto;
			color: $tono-7;
		}
	}
	.submitbtns{
		padding-top: 0!important;
	}
}
.quizsummaryofattempt{
	~.submitbtns .singlebutton{
		float: left;
	}
}
.resumen-quiz{
	margin: auto;
	margin-bottom: 20px;
}
#mod_quiz_navblock{
	.card-block{
		padding: 0;
		margin-right: 18px;
	}
}

/*-----Menu lateral------*/
.oit-menu-item{
	span{

	}
}

/*-----Panel------*/
#reporte-detalle,
#reporte{
	width: 100%;
}
#reporte-detalle{
	th,td {
		&:last-child{
			text-align: right;
			padding-right: 20px;
		}
	}
}
#reporte{
	th,td {
		&:last-child{
			text-align: center;
		}
	}
}
.contenedor-buscador{	
	display: flex;
	.btn.borde{
		height: 26px;
		background-color: white;
		padding: 3px 10px 1px;
		color: #4c4c4c!important;
		border: 1px solid $tono-2;
	}

	input.buscador{
		height: 26px;
		margin-right: 10px;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: .25rem;
	}
}
.mform {
	.form-inline .form-control, 
	.form-inline .custom-select {
		/*max-width: 100%;*/
		height: 26px;
		padding: 0 5px;
		font-size: 10pt;
	}
	#id_departamento{
		width: 175px;
	}
	#id_estado{
		width: 98px;
	}
	.fitem .col-md-9.felement input[type=submit] {
		height: 26px;
		background-color: white;
		padding: 0 10px 1px;
		color: #4c4c4c!important;
		border: 1px solid $tono-2;
	}
}
td.celda{
	a {
		color: #4c4c4c;
	}
}

#reporte-detalle{
	td.usuario {
		>div{
			max-width: none;
		}
	}
}
td.usuario {
	>a{
		display: inline-block;
		float: left;
		margin-right: 10px;
	}
	>div{
		display: inline-block;
		max-width: 270px;
		>*{
			margin-bottom: 0;
		}
		>p {
			font-size: 10pt;
		}
	}
}
/*---------Ranking-----------*/
#tabla_ranking{
	width: 100%;
	.celda{
		text-align: center;
	}
	.usuario {
		text-align: left;
		width: 350px;
	}
	tr{
		&.verde{
			background-color: rgba(98, 173, 96, 0.5)!important;
		}
		&.rojo{
			background-color: rgba(232, 86, 86, 0.5)!important;
		}
		&.amarillo{
			background-color: rgba(247, 192, 65, 0.5)!important;
		}
	}
}
#ranking_form {
	display: flex;
	.form-group {
		display: flex;
		.col-md-3 {
			float: none!important;
			width: auto!important;
		}
	}
}


/*-----------Recursos-------------*/
.titulo-recurso {
	&.leyes{
		background-image: url(/oit/img/ico_leyes.png);
	}
	&.convenios{
		background-image: url(/oit/img/ico_convenios.png);
	}
	&.resoluciones{
		background-image: url(/oit/img/ico_resoluciones.png);
	}
	&.decretos{
		background-image: url(/oit/img/ico_decretos.png);
	}
}
.titulo-recurso {
	padding-left: 44px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: $gris-claro;
	border: 1px solid $gris-claro;
	background-size: 33px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px;
	>div{
		padding: 10px;
		font-size: 13pt;
		border-left: solid 1px $gris-claro;
		background-color: white;
		* {
			margin: 0;
		}
		p {
			font-size: 13pt;
			font-weight: 600;
		}
	}
}
.recurso-item{
	margin-bottom: 10px;
	display: flex;
	&:last-child{
		margin-bottom: 0;
	}
	>div{
		>h5{
			font-size: 12pt;
			font-weight: 700;
		}
		>p{
			margin-bottom: 0;
		}
	}
	>a{
		height: 44px;
		margin: auto;
		margin-right: 0;
	}
}

/*GUILLOOO*/
/*Preguntas en Negrilla*/
.que .qtext {
	font-weight: bold;
}

/*Espacio entre pregunta y pregunta*/
#responseform span.question{
	margin-bottom: 0px !important;
}

/*Alinear a la izquierda respuestas*/
.m-l-1 {
	margin-left: 0rem!important;
}

/*Preguntas de tipo Falso Verdadero*/
.que.truefalse label{
	padding: 2px 6px !important;
}

/*Preguntas de típo múltiple*/
div.content > div > div.ablock > div.answer > div[class*="r"] > label > span.answernumber {
	display: none; 
}

/*Preguntas tipo emparejar*/
table.answer .select {
	width: 90%;
}

/*Barra lateral Derecha de preguntas*/
#mod_quiz_navblock > div > div.card-text{
	max-width: 180px;
}

/*pagina de preguntas y estatus de quites*/

/*Barra lateral Derecha de preguntas*/
#mod_quiz_navblock > div > div.card-text{
	max-width: 180px;
}

/*tabla texto centrado*/
table.quizsummaryofattempt td.cell, 
table.quizsummaryofattempt th.header {
	text-align: center !important;
}

table.quizsummaryofattempt th.header.c0, 
table.quizsummaryofattempt td.cell:nth-child(1) {
	width: 90px;
}

table.quizsummaryofattempt th.header.c1,
table.quizsummaryofattempt td.cell:nth-child(2){
	text-align: left !important;
}

#page-mod-quiz-attempt,
#page-mod-quiz-review{
	.submitbtns .mod_quiz-next-nav{
		float: left;
	}
}
/*GUILLOOO*/
/*--------Menu usuario-------------*/
.menu-usario{
	.dropdown-menu {
		top: 240%;
		border-bottom: 1px solid #eaeaea;
		.dropdown-item{
			border-bottom: 1px solid #eaeaea;
		}
		i,.dropdown-item{
			color: $color-fuente;
		}
	}
}
/*--------Reportes de usuarios------*/
.oit-reporte-usuarios-item {
	display: flex;
	margin-bottom: 10px;
	padding: 10px;
	background-color: $tono-6;
	color: $color-fuente;
	border-radius: 5px;
	&.titulo {
		background-color: $tono-7;
		color: white;
		font-size: 13pt;
	}
	>div {
		margin: auto;
		margin-left: 0;
		&:first-child {
			max-width: 300px;
			width: 100%;
			margin-right: 50px;
		}
		&:nth-child(2) {
			width: 100px;
		}
		&:last-child {
			margin-right: 30px;
			text-transform: capitalize;
		}
		&.fecha {
			width: 60px;
		}
		>h2 {
			font-size: 18pt;
			margin-bottom: 0;
		}
		>span {
			font-size: 9pt;
		}
	}
}

/*--------Estilos escritorio-----*/
@media(min-width:769px){
	[data-region="blocks-column"] {
		width: 250px!important;
	}
	#region-main.has-blocks {
		display: inline-block;
		width: calc(100% - 280px)!important;
	}
	div#nav-container {
		min-height: 100%;
	}
	/*----------Menu Lateral-------*/
	#page-wrapper {
		min-height: calc(100% - 218px);
		padding-bottom: 1rem;
		margin-bottom: 0;
		&::after{
			display:none;
		}
	}
	div#nav-drawer{ 
		position: sticky;
		top: 70px;
		/*position: fixed;*/
		.list-group-item{
			font-size: 10pt;
			padding: 0 10px;
			span{
				font-weight: 700;
				width: 60px;
				display: inline-block;
			}
			strong {
				width: 44px;
				display: inline-block;
				text-align: center;
			}

			&.selected{	
				.ico_seccion {
					background-color:$tono-2;
					border-color:$tono-2;
				}
			}
			&.selected,
			&.list-group-item-action:focus, 
			&.list-group-item-action:hover{
				background-color: $gris-claro;
				font-weight: 700;
			}
			&[data-key='puntaje']{
				background-color: #5b96a7;
				color: white;
				&.gris{
					background-color: $gris;
				}
				&.verde{
					background-color: $color-verde;
				}
				&.rojo{
					background-color: $color-rojo;
				}
				.puntaje{
					margin: 5px 0;
					>div{
						width: 60px;
						margin-left: auto;
						display: block;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
					>h1{
						width: 60px;
						margin-left: auto;
						margin-bottom: 0;
						text-align: center;
					}
				}
			}
			&[data-key='hidden-sm-up']{
				display: none;
			}
			&[data-key="coursehome"] {
				padding:  0;
				h1 {
					font-size: 15pt;
					color: white;
					background-color: $tono-1;
					padding: 15px;
					margin-bottom: 0;
					font-weight: 700;
				}
			}
			&[data-key="disabled"] {
				cursor: pointer;
				pointer-events: none;
				color: $gris-oscuro;
			}
			&[data-key='folder']{
				margin-top: 50px;
			}
			&[data-key='folder'],
			&[data-key='glossary'],
			&[data-key='certificate'],
			&[data-key='ranking']{
				margin-left: 20px;
				margin-bottom: 10px;
				border-radius: 5px;
				height: 32px;
				padding: 0;
				width: 74%;
				display: flex;
				border-right: none;
				box-shadow: 1px 1px 12px rgba(128, 128, 128, 0.15);
				&:hover{
					background-color: white;
				}
				>div.m-l-0{
					padding: 5px 21px;
					padding-right: 10px;
					width: 76%;
				}
				>img{
					height: 40px;
					background-color: $gris;
					border-radius: 50%;
					padding: 8px;
					margin-top: -4px;
					position: absolute;
					left: 105px;
				}
			}
			&:hover{
				>img{
					background-color:$tono-4;
				}
			}
			.ico_seccion {
				display: inline-block;
				padding: 5px;
				border: 1px solid $gris-oscuro;
				margin: 20px 5px;
				border-radius: 50%;
				width: 25px;
				height: 25px;
				line-height: 1em;
				background-color: $gris-oscuro;
				text-align: center;
				color: white;
				font-weight: 700;
			}
		}

	}


	button.btn.pull-xs-left.m-r-1.btn-secondary{
		display:none;
	}
	.navbar-nav{
		.navbar-brand.has-logo {
			.logo img {
				max-height: none;
			}

		}
	}
	.navbar-light {
		max-height: 61px;
		height: 100%;
		border-bottom: 1px solid $tono-1!important;
		padding: 0;

		.container-fluid.navbar-nav {
			height:  60px;

			span.logo.hidden-xs-down {
				display:  block;
			}

			span.menu-usario {
				height:  100%;
				width:  100%;
				.usermenu {
					margin-top:  12px;
				}
			}
		}
	}

	div#nav-drawer {
		/*width: 289px;*/
		/*display:  inline-block;*/
		float:  left;
		margin: 72px 10px;
		width: 167px;
	}
	.oit-wrapper{
		width: 1000px;
		margin:  0 auto;
		display: flex;
		/*align-items: flex-start;*/

		#page.container-fluid {
			/*margin-left: 202px;*/
			/*display:  inline-block;*/
		}
	}
	#pie{
		>div{
			width: 800px;
		}
	}
}
/*--------Estilos movil-----*/
@media(max-width:768px){

	.menu-usario .dropdown-menu {
		top: 25px;
		left: calc(100% - 130px);
	}
	div#nav-drawer{ 
		padding: 0;
		.list-group-item{
			&:first-child{
				border-top: none;
			}

			&.list-group-item-action{
				padding: 0 10px;
			}

			&.selected,
			&.list-group-item-action:focus, 
			&.list-group-item-action:hover{
				background-color: $gris-claro;
				font-weight: 700;
			}
			&[data-key="coursehome"] {
				margin-top: 10px;
				padding: 0;
				h1 {
					font-size: 13pt;
					color: white;
					background-color: $tono-1;
					padding: .75rem 18px;
					margin-bottom: 0;
					font-weight: 500;
				}
			}
			&[data-key='folder'],
			&[data-key='folder']~* {
				>img{
					display: none;
				}
			}
		}

	}
	span.logo>img {
		margin: auto;
		max-height: 43px;
		margin-left: -226px;
		margin-top: -5px;
	}

	a.navbar-brand.has-logo {
		margin-left: 50px;
		span{
			display: inline-block;
			height: 32px;
			width: 200px;
			overflow: hidden;
			margin-left: 14px;
		}
	}

	.container-fluid.navbar-nav {
		padding-left: 0;
	}


	#page.container-fluid{
		margin-top: 50px;
		margin-left:auto!important;
	}
	.card-block{
		padding: 0 5px;
	}
	.page-context-header{
		margin-bottom: 10px;
	}
	#perfil_top {
		flex-wrap: wrap;
		>a{
			margin:auto;
		}
		.oit-info{
			width: 100%;
			text-align: center;
			>h1,
			>h4{
				margin-bottom: 0; 
			}
		}
	}
	.oit-curso{
		background-size: cover!important;
		height: unset;
		flex-direction: column;
		padding: 20px;
		border-radius: 5px;

		.descripcion{
			padding: 0;
			margin:auto;
			margin-bottom: 20px;
		}
		.accion{
			margin: auto;
			.info{
				height: unset;
			}
		}
	}

	.oit-leccion {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		>.descripcion{
			width: auto;
		}
		>.leccion-info-sm {
			&.oit-boton {
				padding: 0;
				margin-right: 15px;
				margin-bottom: 15px;
				width: 100%;
				height: 60px;
				&.ico_entrar{
					background: $tono-2;
				}
				&.ico_entrar_bloq{
					background: $gris-oscuro;
				}
				&.ico_entrar_mal{
					background: $color-rojo;
				}
				&.ico_entrar_bien{
					background: $color-verde;
				}
				>a{
					width: 100%;
					display: flex;
					align-items: center;
					margin: 7px 0;
					>h4{
						color: white;
						margin: 7px
					}
					>.puntaje-sm{
						float: right;
						width: 45px;
						height: 45px;
						margin-right: 7px;
						margin-left: auto;
					}
				}
			}
		}
	}
	#oit-puntaje {
		flex-direction: column;
		height: auto;
		width: 100%;
		background: url(/oit/img/footer/footer.png); 
		background-repeat: no-repeat;
		background-position: right -135px top;
		&.mal,
		&.rojo{
			background: url(/oit/img/footer/footer_mal.png); 
			background-repeat: no-repeat;
			background-position: right -135px top;
		}
		&.bien,
		&.verde{
			background: url(/oit/img/footer/footer_bien.png); 
			background-repeat: no-repeat;
			background-position: right -135px top;
		}
		>span{
			width: 100%;
			margin:auto;
		}
		>img{
			display: none;
		}
	}

	#pie{
		flex-direction: column;
		padding: 20px;
		>div {
			text-align: center;
			// margin:  auto 20px auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			>h1 {
				width: unset;
				margin-bottom: 0;
			}
			>div{
				display: flex;
				flex-direction: column;
				align-items: center;

				>div{	
					width: unset;
					border: none;
					padding: 0;
					margin: 20px 0;
					height: unset;
					>img{
						width: 100%;
					}
				}
				>p{
					width: unset;
				}
			}
		}
	}
	.glosario-item {
		display: flex;
		flex-direction: column;
	}
	.paginacion-glosario{
		flex-wrap: wrap;
		justify-content: center;
		.page-item{
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
				width: 100%;
				.page-link{
					width: 100%;
					text-align: center;
					border-radius: 5px;
					margin-top: 10px;

				}
			}
			.page-link{
				width: 31px;
				text-align: center;
			}

		}
	}

	#ranking_form{
		flex-direction: column;
		align-items: center;
		.form-group{
			margin-bottom: 10px!important;
			.felement{
				width: 100%;
			}
		}
	}

	#pie-ranking{
		display: flex;
		flex-direction: column;
	}

	#tabla_ranking .usuario{
		width: 125px;
		display: inline-block;
		>div {
			max-width: 270px;
			word-break: break-word;
		}
	}
}

.select2 .form-inline select.form-control{
	height: unset;
}