/*celadon green*/
/*rackley*/
/*queen blue*/
/*columbia blue*/
/*cerulean*/
/*azureish white*/
/*teal blue*/
/*lapis lazuli*/
/*bleu de france con transparencia*/
/*amazonite*/
/*dark liver*/
:focus {
  outline: none !important;
}

li {
  list-style-type: disc !important;
}

a {
  color: #2f7d95;
  text-decoration: none;
}

.hidden {
  display: none;
}

.h5p-blanks .h5p-question-introduction {
  display: none;
}

.falso-verdadero + div + .h5p-true-false {
  margin-top: 20px;
}

.h5p-content .h5p-true-false {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.h5p-content .h5p-true-false .h5p-question-buttons {
  width: auto;
  height: auto;
  margin: auto;
}
.h5p-content .h5p-true-false > .h5p-question-introduction {
  width: 768px;
  margin: 0;
  margin-bottom: 10px;
}
.h5p-content .h5p-true-false .h5p-true-false-answers {
  margin: 0;
}
.h5p-content .h5p-true-false .h5p-true-false-answers .h5p-true-false-answer {
  background-color: transparent;
  color: #4f4f4f;
  padding: 3px;
  padding-right: 14px;
  margin: 0;
  margin-right: 10px;
  height: 21px;
  padding-top: 0;
  padding-right: 35px;
}
.h5p-content .h5p-true-false .h5p-true-false-answers .h5p-true-false-answer:after {
  line-height: 26px;
  width: 26px;
}
.h5p-content .h5p-true-false .h5p-question-content {
  margin: 0;
}

.oit-banner {
  /*
  oit-banner-tema
  oit-banner-actividad falso-verdadero
  oit-banner-actividad multiple
  oit-banner-actividad blanks
  oit-banner-actividad drag
  oit-banner-actividad seleccione-imagen
  */
  padding: 0;
  background: white;
  /*min-height: 60px;*/
}
.oit-banner.oit-banner-tema {
  background-image: url(/oit/img/ico_tema.gif);
}
.oit-banner.oit-banner-actividad {
  background-image: url(/oit/img/ico_seleccion.gif);
}
.oit-banner.oit-banner-actividad.falso-verdadero {
  background-image: url(/oit/img/ico_trueorfalse.gif);
}
.oit-banner.oit-banner-actividad.drag {
  background-image: url(/oit/img/ico_draganddrop.gif);
}
.oit-banner.oit-banner-actividad.blanks {
  background-image: url(/oit/img/ico_completar.gif);
}
.oit-banner.oit-banner-actividad.multiple {
  background-image: url(/oit/img/ico_seleccion.gif);
}
.oit-banner.oit-banner-actividad.multiples {
  background-image: url(/oit/img/ico_seleccion_multiple.gif);
}
.oit-banner.oit-banner-actividad.seleccione-imagen {
  background-image: url(/oit/img/ico_seleccionimagen.gif);
}
.oit-banner.oit-banner-actividad.caso {
  background-image: url(/oit/img/ico_caso.gif);
}
.oit-banner.oit-banner-tema, .oit-banner.oit-banner-actividad {
  padding-left: 44px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  border-radius: 5px;
  background-color: #f3f4f4;
  border: 1px solid #f3f4f4;
}
.oit-banner.oit-banner-tema .oit-banner-text, .oit-banner.oit-banner-actividad .oit-banner-text {
  padding: 10px;
  font-size: 13pt;
  border-left: solid 1px #f3f4f4;
  background-color: white;
}
.oit-banner.oit-banner-tema .oit-banner-text *, .oit-banner.oit-banner-actividad .oit-banner-text * {
  margin: 0;
}
.oit-banner.oit-banner-tema .oit-banner-text p, .oit-banner.oit-banner-actividad .oit-banner-text p {
  font-size: 13pt;
  font-weight: 600;
}
.oit-banner .oit-banner-text {
  color: #4c4c4c;
}

/*----AJUSTES DE IMAGENES---*/
.competencias {
  padding: 20px;
  padding-left: 200px;
  min-height: 275px;
  background-color: #f3f4f4;
  color: dimgray;
  position: relative;
}
.competencias .oit-banner-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.competencias.personaje-1 {
  background-image: url(/oit/img/competencias/per1.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.competencias.personaje-2 {
  background-image: url(/oit/img/competencias/per2.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.competencias.personaje-3 {
  background-image: url(/oit/img/competencias/per3.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.competencias.personaje-4 {
  background-image: url(/oit/img/competencias/per4.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.competencias.personaje-5 {
  background-image: url(/oit/img/competencias/per5.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.competencias.personaje-6 {
  background-image: url(/oit/img/competencias/per6.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.competencias.personaje-7 {
  background-image: url(/oit/img/competencias/per6.png);
  background-repeat: no-repeat;
  background-position-x: 20px;
}

#loading {
  margin: 45px 136px;
}

html.h5p-iframe input, html.h5p-iframe textarea, html.h5p-iframe select, html.h5p-iframe button, html.h5p-iframe > body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #4c4c4c;
}
html.h5p-iframe h1, html.h5p-iframe h2, html.h5p-iframe h3, html.h5p-iframe strong {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html.h5p-iframe .h5p-content #resultado .oit-feedback h1 {
  margin: 54px 0 0 0;
}
html.h5p-iframe > body {
  height: auto;
}
html.h5p-iframe .h5p-table th {
  margin-bottom: 10px;
  font-size: 12pt;
  text-align: center;
  background-color: #b9cdde;
  color: #1f3948;
  padding: 10px;
}
html.h5p-iframe .h5p-table td {
  background-color: #f3f4f4;
  min-height: 170px;
  margin: 0;
  padding: 15px;
  list-style: none;
  color: dimgray;
}

.h5p-content {
  border: none;
  display: none;
}
.h5p-content * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  font-size: 12pt;
}
.h5p-content .ui-draggable.h5p-image {
  padding: 0;
  border: 0 !important;
}
.h5p-content #machete-1-2 {
  color: transparent;
  background: url(/oit/img/drag1-2.jpg);
  height: 220px;
}
.h5p-content .h5p-drag-text [aria-dropeffect] {
  /*background-color: #ceeffd;*/
}
.h5p-content .h5p-drag-draggables-container.h5p-drag-wide-screen {
  padding: 20px;
  /*background-color: white;*/
  right: 40px;
  top: 91px;
  border-radius: 3px;
}
.h5p-content .h5p-drag-task {
  /*background-color: lightgray;*/
  padding: 21px;
}
.h5p-content .h5p-column-content.h5p-question {
  /*margin-top: 20px;
  padding-top: 36px;
  background: url(/oit/img/act_icon.png) no-repeat;*/
}
.h5p-content .h5p-column-content.h5p-question + .h5p-column-ruler + .h5p-column-content.h5p-question {
  margin-top: 0;
  background: none;
  padding-top: 0;
}
.h5p-content ul.resaltar {
  padding-left: 200px;
  min-height: 275px;
  display: flex;
  flex-direction: column;
}
.h5p-content ul.resaltar li:first-child {
  margin-top: auto !important;
}
.h5p-content ul.resaltar li:last-child {
  margin-bottom: auto !important;
}
.h5p-content ul.resaltar.hombre {
  background-image: url(/oit/img/recuerdaque_h.gif);
  background-repeat: no-repeat;
}
.h5p-content ul.resaltar.mujer {
  background-image: url(/oit/img/recuerdaque_m.gif);
  background-repeat: no-repeat;
}
@media (max-width: 568px) {
  .h5p-content ul.resaltar {
    padding-top: 300px;
    padding-left: 0px;
    min-height: 275px;
    background-position-x: center;
    background-position-y: 20px;
  }
}
.h5p-content .h5p-joubelui-button {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: #788ec6;
}
.h5p-content .h5p-column-content.h5p-advanced-text:first-child {
  background-color: #f3f4f4;
  padding: 1px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: dimgray;
}
.h5p-content .h5p-column-content.h5p-advanced-text li {
  margin-bottom: 10px;
}
.h5p-content .h5p-question-feedback-content .h5p-question-feedback-content-text {
  background-color: #fff8dc;
  color: #7c6300;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 400;
  width: 735px;
}
.h5p-content .h5p-column-ruler {
  border: none;
}
.h5p-content #dom_overlay_container > div {
  width: 700px !important;
  height: auto !important;
  margin-top: 15px;
}
.h5p-content #dom_overlay_container > div video {
  width: 700px !important;
  height: auto !important;
}
.h5p-content .h5p-joubelui-button {
  border-radius: 5px;
}
.h5p-content .h5p-joubelui-button:hover, .h5p-content .h5p-joubelui-button:focus {
  /*background-color: #ef8400;*/
  background-color: #788ec6;
  outline: none;
  box-shadow: none;
  /*padding: 5px 10px;*/
  color: white;
}
.h5p-content .h5p-joubelui-button:last-child {
  margin: auto;
}
.h5p-content .h5p-question-introduction {
  line-height: 24px !important;
}
.h5p-content .h5p-question-content.h5p-dragquestion-has-no-background {
  border-bottom: none;
}
.h5p-content hr {
  border: none;
  border-bottom: 2px solid #eee;
}
.h5p-content .footer-container,
.h5p-content .h5p-column-content.h5p-advanced-text + .h5p-column-ruler,
.h5p-content .questionset-results,
.h5p-content .h5p-question-scorebar,
.h5p-content .h5p-joubelui-score-numeric,
.h5p-content .qs-retrybutton,
.h5p-content .h5p-question-retry-button,
.h5p-content .h5p-question-check-answer:before {
  display: none !important;
}
.h5p-content .h5p-question-feedback-content-text {
  color: #1e5e94;
}
.h5p-content .h5p-true-false .h5p-true-false-answer :active, .h5p-content .h5p-true-false .h5p-true-false-answer:hover, .h5p-content .h5p-true-false .h5p-true-false-answer[aria-checked=true] {
  border-color: #ddd !important;
}
.h5p-content .h5p-true-false .h5p-question-feedback {
  display: none;
}
.h5p-content .h5p-true-false-answer:focus {
  box-shadow: none !important;
}
.h5p-content .h5p-multichoice .h5p-answer:active,
.h5p-content .h5p-multichoice .h5p-answer:focus,
.h5p-content .h5p-multichoice .h5p-alternative-container:active,
.h5p-content .h5p-multichoice .h5p-alternative-container:focus {
  outline: none !important;
}
.h5p-content .h5p-multichoice .h5p-answer:hover .h5p-alternative-container, .h5p-content .h5p-multichoice .h5p-answer:focus .h5p-alternative-container {
  border: 0.1em solid #cbdfe4;
  background-color: #cbdfe4;
}
.h5p-content .h5p-flashcards .h5p-answer .h5p-button {
  height: 2em;
}
.h5p-content .h5p-drag-text .h5p-drag-droppable-words {
  max-width: 500px;
}
.h5p-content .h5p-dragquestion .h5p-dropzone {
  font-size: 10.6pt;
}
.h5p-content .h5p-dragquestion .h5p-draggable {
  font-size: 10.6pt;
}
.h5p-content .h5p-dragquestion .h5p-draggable:hover {
  background-color: darkgray !important;
  border-color: darkgray !important;
}
@media (max-width: 576px) {
  .h5p-content .h5p-dragquestion .h5p-draggable {
    font-size: 1.85vw;
  }
  .h5p-content .h5p-dragquestion .h5p-draggable:hover {
    background-color: darkgray !important;
    border-color: darkgray !important;
  }
  .h5p-content .h5p-dragquestion .h5p-draggable p {
    font-size: 8px;
  }
  .h5p-content .h5p-dragquestion .h5p-dropzone {
    font-size: 1.85vw;
  }
}
.h5p-content #resultado {
  margin: 0 auto;
  text-align: center;
  height: 319px;
  display: flex;
  background: url(/oit/img/retroalimentacion/footer_niv3_neutro.png);
  height: 319px;
}
.h5p-content #resultado * {
  line-height: auto;
}
.h5p-content #resultado > img {
  margin-left: 40px;
}
.h5p-content #resultado.verde {
  background: url(/oit/img/retroalimentacion/footer_niv3_bien.png);
}
.h5p-content #resultado.verde a.h5p-joubelui-button.oit-reintentar,
.h5p-content #resultado.verde a.h5p-joubelui-button.oit-volver {
  /*color: #47b47d;*/
}
.h5p-content #resultado.verde a.h5p-joubelui-button.oit-reintentar:hover, .h5p-content #resultado.verde a.h5p-joubelui-button.oit-reintentar:focus,
.h5p-content #resultado.verde a.h5p-joubelui-button.oit-volver:hover,
.h5p-content #resultado.verde a.h5p-joubelui-button.oit-volver:focus {
  /*color: #47b47d;*/
}
.h5p-content #resultado.verde .oit-feedback {
  margin: auto;
  width: 411px;
  /*color: white;*/
  padding: 0;
  padding-top: 50px;
}
.h5p-content #resultado.rojo {
  background: url(/oit/img/retroalimentacion/footer_niv3_mal.png);
}
.h5p-content #resultado.rojo a.h5p-joubelui-button.oit-reintentar,
.h5p-content #resultado.rojo a.h5p-joubelui-button.oit-volver {
  /*color: crimson;*/
}
.h5p-content #resultado.rojo a.h5p-joubelui-button.oit-reintentar:hover, .h5p-content #resultado.rojo a.h5p-joubelui-button.oit-reintentar:focus,
.h5p-content #resultado.rojo a.h5p-joubelui-button.oit-volver:hover,
.h5p-content #resultado.rojo a.h5p-joubelui-button.oit-volver:focus {
  /*color: crimson;*/
}
.h5p-content #resultado.rojo .oit-feedback {
  margin: auto;
  width: 411px;
  /*color: white;*/
  padding: 0;
  padding-top: 50px;
}
.h5p-content #resultado > div {
  width: 100%;
}
.h5p-content #resultado > div > .oit-feedback {
  margin: 93px auto;
  text-align: left;
  width: 410px;
  margin-right: auto;
  /*color: white;*/
  font-size: 15pt;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.h5p-content #resultado > div > .oit-feedback h1 {
  font-size: 45pt;
  text-align: center;
}
.h5p-content #resultado > div > .oit-feedback h1 ~ p {
  font-size: 14pt;
}
.h5p-content #resultado > div > .oit-feedback .oit-mensaje {
  height: 50px;
}
.h5p-content #resultado > div > .oit-feedback .oit-mensaje h2 {
  font-size: 32pt;
  margin: 0;
  text-align: center;
  font-weight: 800;
  margin-bottom: 13px;
}
.h5p-content #resultado > div > .oit-feedback .oit-mensaje p {
  margin: 0;
  text-align: center;
  font-size: 18pt;
}
.h5p-content #resultado > div > #evaluar {
  height: 20px;
  position: absolute;
  left: 450px;
  font-size: 10pt;
  width: 111px;
  text-align: center;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  /*background: white;
  color: #3a54a5;
  &:hover,
  &:focus{
    background: white;
    }*/
}
.h5p-content #resultado > div > #evaluar.disabled, .h5p-content #resultado > div > #evaluar.disabled:hover {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.6;
}
.h5p-content #resultado > div > #evaluar.disabled:active {
  position: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.h5p-content #resultado > div a.h5p-joubelui-button.oit-volver {
  /*
  color: #3a54a5;
  background-color: white;*/
  margin: auto 0;
  font-size: 13pt;
  margin-right: auto;
  width: 161px;
  height: 18px;
  margin-top: 6px;
  padding-top: 3px;
  padding-bottom: 7px;
}
@media (max-width: 576px) {
  .h5p-content #resultado {
    flex-direction: column;
    height: auto;
    background-position-x: -124px;
  }
  .h5p-content #resultado .oit-feedback {
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .h5p-content #resultado #evaluar {
    width: 128px;
    height: 20px;
    flex: initial;
    margin: 0 auto 40px auto;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .h5p-content #imagen1-2-1 {
    padding: 40px;
    padding-right: 420px;
    background: url(/oit/cursos/del-ministerio-del-trabajo-y-del-sistema-de-la-inspeccion-del-trabajo/imagenes/2-1.jpg) no-repeat;
    color: white;
  }
}
@media (max-width: 576px) {
  .h5p-content #imagen1-2-1 {
    padding: 40px;
    padding-top: 289px;
    font-size: 10pt;
    padding-bottom: 27px;
    background: url(/oit/cursos/del-ministerio-del-trabajo-y-del-sistema-de-la-inspeccion-del-trabajo/imagenes/2-1mov.jpg) no-repeat;
    color: white;
  }
}
.h5p-content .oit-intro {
  background-color: #f7f7f7;
  padding: 10px;
  color: dimgray;
  border-radius: 8px;
}
.h5p-content .oit-intro#obj {
  padding-left: 156px;
  padding-top: 31px;
  padding-bottom: 32px;
  background-image: url(/oit/cursos/introduccion/imagenes/intro-obj.png);
  background-repeat: no-repeat;
  background-position-x: 26px;
  background-position-y: 14px;
}
.h5p-content .oit-intro#meto {
  padding-left: 265px;
  background-image: url(/oit/cursos/introduccion/imagenes/intro-meto.jpg);
  background-repeat: no-repeat;
}
.h5p-content .oit-intro#meto > li {
  font-size: 11pt;
}
.h5p-content .oit-intro#recom {
  padding-left: 200px;
  background-image: url(/oit/cursos/introduccion/imagenes/intro-reco.png);
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: center;
}
.h5p-content .oit-intro#recom > li {
  padding: 19px;
  list-style: none;
  background-repeat: no-repeat;
  padding-left: 81px;
  background-position-y: center;
}
.h5p-content .oit-intro#recom > li:first-child {
  background-image: url(/oit/cursos/introduccion/imagenes/intro-ico-1.png);
}
.h5p-content .oit-intro#recom > li:nth-child(2) {
  background-image: url(/oit/cursos/introduccion/imagenes/intro-ico-2.png);
}
.h5p-content .oit-intro#recom > li:nth-child(3) {
  background-image: url(/oit/cursos/introduccion/imagenes/intro-ico-3.png);
}
.h5p-content .oit-intro#recom > li:nth-child(4) {
  background-image: url(/oit/cursos/introduccion/imagenes/intro-ico-4.png);
}
.h5p-content .oit-intro#recom > li:last-child {
  background-image: url(/oit/cursos/introduccion/imagenes/intro-ico-5.png);
}

@media (max-width: 576px) {
  .competencias {
    padding-left: 0;
    padding-right: 20px;
  }
  .competencias.personaje-1 {
    background: #f3f4f4;
  }
  .competencias.personaje-2 {
    background: #f3f4f4;
  }
  .competencias.personaje-3 {
    background: #f3f4f4;
  }
  .competencias.personaje-4 {
    background: #f3f4f4;
  }
  .competencias.personaje-5 {
    background: #f3f4f4;
  }
  .competencias.personaje-6 {
    background: #f3f4f4;
  }
  .competencias.personaje-7 {
    background: #f3f4f4;
  }

  .hidden-sm-down {
    display: none !important;
  }

  .h5p-content #resultado > div .oit-feedback {
    width: auto;
  }
  .h5p-content #resultado > div > #evaluar {
    position: static;
    margin-top: 20px;
  }
}