/*# sourceMappingURL=oithvptest.css.map */
html.h5p-iframe input,
html.h5p-iframe textarea,
html.h5p-iframe select,
html.h5p-iframe button,
html.h5p-iframe > body{
  font-family: 'Istok Web', sans-serif;
}
html.h5p-iframe h1,
html.h5p-iframe h2,
html.h5p-iframe h3{
  font-family: 'Roboto Condensed', sans-serif;
}

.h5p-column-content.h5p-table,
.h5p-column-content.h5p-advanced-text, 
.h5p-column-content.h5p-link{
  padding: 0;
}
/*.h5p-sc-set-results,
.questionset-results{
  display: none!important;
}*/
#resultado{
  margin: 0 auto;
  text-align: center;
  height: 140px;
  display: flex;
}

#resultado{
  background-color: #e0e0e0;
}
#resultado.verde {
  background-color: #47b47d;
}
#resultado.rojo {
  background-color: #dd2e2e;
}
#evaluar{
  height: 20px;
  flex: 0 0 86px;
  font-size: 14pt;
  margin: auto 26px;
  padding: 9px 19px;
  text-align: left;
}
p.oit-feedback {
  line-height: 19px;
  padding-top: 42px;
  padding-left: 27px;
  font-weight: bold;
  font-size: 12pt;
  margin: 0;
  padding-right: 37px;
  color: #565656;
  text-align: left;
}
#evaluar,
#evaluar:hover,
#evaluar:focus{
  background-color:#2b8fe2;
}
#evaluar:before {
  content: "\F058";
  display: inline-block;
  font-family: 'H5PFontAwesome4';
  padding-right: 5px;
}
#evaluar.disabled:hover, 
#evaluar.disabled {
  background-color: #535353;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
#evaluar.disabled:active{
  position: unset;
  background-color: #989898;
  /*background: unset;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.h5p-joubelui-button,
.h5p-joubelui-button:hover,
.h5p-joubelui-button:focus{
  background-color:#2b8fe2;
  outline:none;
  box-shadow: none;
  /*padding: 5px 10px;*/
  border-radius: 5px;
  color: white;
}
.qs-retrybutton,
.h5p-question-retry-button,
.h5p-question-check-answer:before {
  display: none;
}

.h5p-question-feedback-content-text{
  color:#1e5e94;
}

.h5p-content{
  border:none;
}
.questionset-results,
.h5p-question-scorebar,
.h5p-joubelui-score-numeric{
  display: none!important;
}
.h5p-true-false-answer:active,
.h5p-true-false-answer:hover,
.h5p-true-false-answer[aria-checked=true]{
  border-color: #ddd!important;
}

.h5p-true-false-answer:focus{
  box-shadow: none!important;
}
.h5p-multichoice .h5p-answer:active,
.h5p-multichoice .h5p-answer:focus,
.h5p-multichoice .h5p-alternative-container:active,
.h5p-multichoice .h5p-alternative-container:focus{
  outline: none!important;
}

.h5p-joubelui-button:last-child{
  margin: unset;
}
.oit-feedback{
  text-align: left;
  display: flex;
  color: white;
  width: 510px;
}
.rojo .oit-feedback,
.verde .oit-feedback {
  width: 411px;
}
a.h5p-joubelui-button.oit-reintentar,
a.h5p-joubelui-button.oit-volver{
  height: 22px;
  margin: auto 0;
  font-size: 14pt;
  background-color: white;
}
#resultado.rojo a.h5p-joubelui-button.oit-reintentar,
#resultado.rojo a.h5p-joubelui-button.oit-reintentar:hover,
#resultado.rojo a.h5p-joubelui-button.oit-reintentar:focus,
#resultado.rojo a.h5p-joubelui-button.oit-volver,
#resultado.rojo a.h5p-joubelui-button.oit-volver:hover,
#resultado.rojo a.h5p-joubelui-button.oit-volver:focus{
  color: #dd2e2e;
}
#resultado.verde a.h5p-joubelui-button.oit-reintentar,
#resultado.verde a.h5p-joubelui-button.oit-reintentar:hover,
#resultado.verde a.h5p-joubelui-button.oit-reintentar:focus,
#resultado.verde a.h5p-joubelui-button.oit-volver,
#resultado.verde a.h5p-joubelui-button.oit-volver:hover,
#resultado.verde a.h5p-joubelui-button.oit-volver:focus{
  color: #47b47d;
}
a.h5p-joubelui-button.oit-reintentar {
  flex: 0 0 87px;
  margin-right: 12px;
}
a.h5p-joubelui-button.oit-volver {
  margin: auto 0;
  flex: 0 0 133px;
  font-size: 14pt;
}
.oit-mensaje {
  height: 50px;
  margin: 53px 61px 0 42px;
}
.oit-mensaje h2 {
  font-size: 15pt;
  margin: 0;
}
.oit-mensaje p {
  margin: 0;
}
.oit-feedback h1 {
  margin: 62px 0 0 0;
  font-size: 39pt;
}