.oit-banner{
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: center;
	&.void{
		ul{
			padding-left: 20px;
		}
	}
	&.imagen-1-izquierda {	
		padding-left: 420px;
		background: url(/oit/img/recuerdaque_h.gif) no-repeat;
		background-position-x: 100px;
	}
	&.imagen-2-derecha {	
		padding-right: 400px;
		background: url(/oit/img/recuerdaque_m.gif) no-repeat;
		background-position-x: 470px;
	}
	&[class*='img-icono'] {
		padding-left: 105px;
		background-image: url(/oit/img/ico-vacio.png);
		min-height: 105px;
		background-position-x: 20px;
		display: flex;
		.oit-banner-text{
			margin:auto 0;
		}
	}
	
	&.img-1-4{
		background-image:url(/oit/img/curso1/curso1_img4.png);
	}
	&.img-1-5{
		background-image:url(/oit/img/curso1/curso1_img5.png);
	}
	&.img-1-6{
		background-image:url(/oit/img/curso1/curso1_img6.png);
	}
	&.img-1-7{
		background-image:url(/oit/img/curso1/curso1_img7.png);
	}
	&.img-1-8{
		background-image:url(/oit/img/curso1/curso1_img8.png);
	}
	&.img-1-9{
		background-image:url(/oit/img/curso1/curso1_img9.png);
	}

	&.img-icono-tierra{
		height: 60px;
		display: flex;
	}
	&.img-icono-cruz-roja{
		background-image:url(/oit/img/ico_cruz_roja.png);
	}
	&.img-icono-listado{
		background-image:url(/oit/img/ico_listado.png);
	}
	&.img-icono-casco{
		background-image:url(/oit/img/ico_casco.png);
	}
	&.img-icono-manos-estrechandose{
		background-image:url(/oit/img/ico_manos_estrechandose.png);
	}
	&.img-icono-carpeta{
		background-image:url(/oit/img/ico_carpeta.png);
	}
	&.img-icono-alcancia{
		background-image:url(/oit/img/ico_alcancia.png);
	}
	&.img-icono-casa{
		background-image:url(/oit/img/ico_casa.png);
	}
	&.img-icono-baston{
		background-image:url(/oit/img/ico_baston.png);
	}

	&.img-1-48{
		background-image:url(/oit/img/curso1/curso1_img48.png);
		padding-left: 125px;
	}
	&.img-1-49{
		background-image:url(/oit/img/curso1/curso1_img49.png);
		padding-left: 125px;
	}
	&.img-1-50{
		background-image:url(/oit/img/curso1/curso1_img50.png);
		padding-left: 125px;
	}
	&.img-1-51{
		background-image:url(/oit/img/curso1/curso1_img51.png);
		padding-left: 125px;
	}
	&.img-1-3-1{
		background-image:url(/oit/img/img_1_3_1.png);
		padding-left: 185px;
		.oit-banner-text{
			padding-left: 20px;
			background-color:white;
		}
	}
	&.img-1-18{
		background-image:url(/oit/img/curso1/curso1_img18.png);
		padding-left: 250px;
		height: 200px;
		.oit-banner-text{
			padding-left: 20px;
			background-color: white;
			display: flex;
			height: 100%;
			*{
				margin: auto 0;
			}
		}
	}
	&.img-4-0{
		background-image:url(/oit/img/img_4_0.png);
		padding-left: 232px;
		min-height: 200px;
		display: flex;
		.oit-banner-text{
			padding-left: 20px;
			background-color:white;
			margin-top: 25px;
		}
	}
	&.img-1-25{
		background-image: url(/oit/img/curso1/curso1_img25.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			/*padding-left: 20px;*/
			background-color:white;
		}
	}
	&.img-1-26{
		background-image: url(/oit/img/curso1/curso1_img26.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			background-color:white;
		}
	}
	&.img-1-28{
		background-image: url(/oit/img/curso1/curso1_img28.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			background-color:white;
		}
	}
	&.img-1-34{
		background-image: url(/oit/img/curso1/curso1_img34.png);
		height: 60px;
		display: flex;
	}
	&.img-1-35{
		background-image: url(/oit/img/curso1/curso1_img35.png);
		height: 60px;
		display: flex;
	}
	&.img-1-36{
		background-image: url(/oit/img/curso1/curso1_img36.png);
		height: 60px;
		display: flex;
	}
	&.img-1-37{
		background-image: url(/oit/img/curso1/curso1_img37.png);
		height: 60px;
		display: flex;
	}
	&.img-1-38{
		background-image: url(/oit/img/curso1/curso1_img38.png);
		height: 60px;
		display: flex;
	}
	&.img-1-39  {
		background: url(/oit/img/curso1/curso1_img39.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-1-32  {
		background: url(/oit/img/curso1/curso1_img32.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-1-22  {
		background: url(/oit/img/curso1/curso1_img22.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-1-47{
		background: url(/oit/img/curso1/curso1_img47.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-1-54{
		background: url(/oit/img/curso1/curso1_img54.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-2-2{
		background-image:url(/oit/img/curso2/curso2_img2.png);
	}
	&.img-2-3{
		background-image:url(/oit/img/curso2/curso2_img3.png);
	}
	&.img-2-4{
		background-image:url(/oit/img/curso2/curso2_img4.png);
	}
	&.img-2-5{
		background-image:url(/oit/img/curso2/curso2_img5.png);
	}
	&.img-2-11{
		background-image:url(/oit/img/curso2/curso2_img11.png);
	}
	&.img-2-12{
		background-image:url(/oit/img/curso2/curso2_img12.png);
	}
	&.img-2-13{
		background-image:url(/oit/img/curso2/curso2_img13.png);
	}
	&.img-2-14{
		background-image:url(/oit/img/curso2/curso2_img14.png);
	}
	&.img-2-15{
		background-image:url(/oit/img/curso2/curso2_img15.png);
	}
	&.img-2-20{
		background-image:url(/oit/img/curso2/curso2_img20.png);
	}
	&.img-2-21{
		background-image:url(/oit/img/curso2/curso2_img21.png);
	}
	&.img-2-22{
		background-image:url(/oit/img/curso2/curso2_img22.png);
	}
	&.img-2-23{
		background-image:url(/oit/img/curso2/curso2_img23.png);
	}
	&.img-2-24{
		background-image:url(/oit/img/curso2/curso2_img24.png);
	}
	&.img-2-25{
		background-image:url(/oit/img/curso2/curso2_img25.png);
	}
	&.img-2-27{
		background-image:url(/oit/img/curso2/curso2_img27.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-2-32{
		background-image:url(/oit/img/curso2/curso2_img32.png);
	}
	&.img-2-33{
		background-image:url(/oit/img/curso2/curso2_img33.png);
	}
	&.img-2-34{
		background-image:url(/oit/img/curso2/curso2_img34.png);
	}
	&.img-2-35{
		background-image:url(/oit/img/curso2/curso2_img35.png);
	}
	&.img-2-36{
		background-image:url(/oit/img/curso2/curso2_img36.png);
	}
	&.img-2-37{
		background-image:url(/oit/img/curso2/curso2_img37.png);
	}
	&.img-2-38{
		background-image:url(/oit/img/curso2/curso2_img38.png);
	}
	&.img-2-39{
		background-image:url(/oit/img/curso2/curso2_img39.png);
	}
	&.img-2-40{
		background-image:url(/oit/img/curso2/curso2_img40.png);
	}
	&.img-2-41{
		background-image:url(/oit/img/curso2/curso2_img41.png);
	}
	&.img-2-42{
		background-image:url(/oit/img/curso2/curso2_img42.png);
	}
	&.img-2-43{
		background-image:url(/oit/img/curso2/curso2_img43.png);
	}
	&.img-2-45{
		background-image:url(/oit/img/curso2/curso2_img45.png);
	}
	&.img-2-46{
		background-image:url(/oit/img/curso2/curso2_img46.png);
	}
	&.img-2-47{
		background-image:url(/oit/img/curso2/curso2_img47.png);
	}
	&.img-2-48{
		background-image:url(/oit/img/curso2/curso2_img48.png);
	}
	&.img-2-49{
		background-image:url(/oit/img/curso2/curso2_img49.png);
	}
	&.img-2-50{
		background-image:url(/oit/img/curso2/curso2_img50.png);
	}
	&.img-2-51{
		background-image:url(/oit/img/curso2/curso2_img51.png);
	}
	&.img-2-52{
		background-image:url(/oit/img/curso2/curso2_img52.png);
	}
	&.img-2-53{
		background-image:url(/oit/img/curso2/curso2_img53.png);
	}
	&.img-2-54{
		background-image:url(/oit/img/curso2/curso2_img54.png);
	}
	&.img-2-54_a{
		background-image:url(/oit/img/curso2/curso2_img54_a.png);
	}
	&.img-2-55{
		background-image:url(/oit/img/curso2/curso2_img55.png);
	}
	&.img-2-56{
		background-image:url(/oit/img/curso2/curso2_img56.png);
	}
	&.img-2-57{
		background-image:url(/oit/img/curso2/curso2_img57.png);
	}
	&.img-2-58{
		background-image:url(/oit/img/curso2/curso2_img58.png);
	}
	&.img-2-59{
		background-image:url(/oit/img/curso2/curso2_img59.png);
	}
	&.img-2-60{
		background-image:url(/oit/img/curso2/curso2_img60.png);
	}
	&.img-2-61{
		background-image:url(/oit/img/curso2/curso2_img61.png);
	}

	&.img-2-63{
		background-image:url(/oit/img/curso2/curso2_img63.png);
	}
	&.img-2-64{
		background-image:url(/oit/img/curso2/curso2_img64.png);
	}
	&.img-2-65{
		background-image:url(/oit/img/curso2/curso2_img65.png);
	}
	&.img-2-66{
		background-image:url(/oit/img/curso2/curso2_img66.png);
	}
	&.img-2-67{
		background-image:url(/oit/img/curso2/curso2_img67.png);
	}
	&.img-2-68{
		background-image:url(/oit/img/curso2/curso2_img68.png);
	}
	&.img-2-69{
		background-image:url(/oit/img/curso2/curso2_img69.png);
	}
	&.img-2-70{
		background-image:url(/oit/img/curso2/curso2_img70.png);
	}
	&.img-2-71{
		background-image:url(/oit/img/curso2/curso2_img71.png);
	}
	&.img-2-72{
		background-image:url(/oit/img/curso2/curso2_img72.png);
	}
	&.img-2-73{
		background-image:url(/oit/img/curso2/curso2_img73.png);
	}
	&.img-2-74{
		background-image:url(/oit/img/curso2/curso2_img74.png);
	}
	&.img-2-75{
		background-image:url(/oit/img/curso2/curso2_img75.png);
	}
	&.img-2-76{
		background-image:url(/oit/img/curso2/curso2_img76.png);
	}
	&.img-2-77{
		background-image:url(/oit/img/curso2/curso2_img77.png);
	}
	&.img-2-78{
		background-image:url(/oit/img/curso2/curso2_img78.png);
	}
	&.img-2-79{
		background-image:url(/oit/img/curso2/curso2_img79.png);
	}
	&.img-2-80{
		background-image:url(/oit/img/curso2/curso2_img80.png);
	}
	&.img-2-83{
		background-image:url(/oit/img/curso2/curso2_img83.png);
	}
	&.img-2-84{
		background-image:url(/oit/img/curso2/curso2_img84.png);
	}
	&.img-2-85{
		background-image:url(/oit/img/curso2/curso2_img85.png);
	}
	&.img-2-86{
		background-image:url(/oit/img/curso2/curso2_img86.png);
	}
	&.img-2-89{
		background-image:url(/oit/img/curso2/curso2_img89.png);
		background-repeat: no-repeat;
		padding: 80px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-2-88{
		background-image:url(/oit/img/curso2/curso2_img88.png);
		background-repeat: no-repeat;
		padding: 80px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-2-91{
		background-image:url(/oit/img/curso2/curso2_img91.png);
	}
	&.img-2-92{
		background-image:url(/oit/img/curso2/curso2_img92.png);
	}
	&.img-2-93{
		background-image:url(/oit/img/curso2/curso2_img93.png);
	}
	&.img-2-94{
		background-image:url(/oit/img/curso2/curso2_img94.png);
	}
	&.img-2-96{
		background-image:url(/oit/img/curso2/curso2_img96.png);
	}
	&.img-2-97{
		background-image:url(/oit/img/curso2/curso2_img97.png);
	}
	&.img-2-99{
		background-image:url(/oit/img/curso2/curso2_img99.png);
	}
	&.img-2-100{
		background-image:url(/oit/img/curso2/curso2_img100.png);
	}
	&.img-2-101{
		background-image:url(/oit/img/curso2/curso2_img101.png);
	}
	&.img-2-102{
		background-image:url(/oit/img/curso2/curso2_img102.png);
	}
	&.img-2-103{
		background-image:url(/oit/img/curso2/curso2_img103.png);
	}
	&.img-2-104{
		background-image:url(/oit/img/curso2/curso2_img104.png);
	}
	&.img-2-105{
		background-image:url(/oit/img/curso2/curso2_img105.png);
	}
	&.img-2-106{
		background-image:url(/oit/img/curso2/curso2_img106.png);
	}

	&.img-2-107{
		background-image:url(/oit/img/curso2/curso2_img107.png);
		background-repeat: no-repeat;
		padding: 70px;
		.oit-banner-text {
			background-color: transparent;
			p {
				margin: 0;
			}
		}
	}
	&.img-2-108{
		background-image:url(/oit/img/curso2/curso2_img108.png);
	}
	&.img-2-109{
		background-image:url(/oit/img/curso2/curso2_img109.png);
	}
	&.img-2-110{
		background-image:url(/oit/img/curso2/curso2_img110.png);
	}
	&.img-2-111{
		background-image:url(/oit/img/curso2/curso2_img111.png);
	}
	&.img-2-112{
		background-image:url(/oit/img/curso2/curso2_img112.png);
	}
	&.img-2-113{
		background-image:url(/oit/img/curso2/curso2_img113.png);
	}
	&.img-2-114{
		background-image:url(/oit/img/curso2/curso2_img114.png);
	}
	&.img-2-115{
		background-image:url(/oit/img/curso2/curso2_img115.png);
	}
	&.img-2-116{
		background-image:url(/oit/img/curso2/curso2_img116.png);
	}
	&.img-2-119{
		background-image:url(/oit/img/curso2/curso2_img119.png);
	}
	&.img-2-120{
		background-image:url(/oit/img/curso2/curso2_img120.png);
	}
	&.img-2-121{
		background-image:url(/oit/img/curso2/curso2_img121.png);
	}
	&.img-2-123{
		background-image:url(/oit/img/curso2/curso2_img123.png);
	}
	&.img-2-124{
		background-image:url(/oit/img/curso2/curso2_img124.png);
	}
	&.img-2-125{
		background-image:url(/oit/img/curso2/curso2_img125.png);
	}
	&.img-2-128{
		background-image:url(/oit/img/curso2/curso2_img128.png);
		padding-left: 170px;
	}
	&.img-2-129{
		background-image:url(/oit/img/curso2/curso2_img129.png);
		padding-left: 170px;
	}
	&.img-2-130{
		background-image:url(/oit/img/curso2/curso2_img130.png);
		padding-left: 170px;
	}
	&.img-2-131{
		background-image:url(/oit/img/curso2/curso2_img131.png);
	}
	&.img-3-1{
		background-image:url(/oit/img/curso3/curso3_img1.png);
	}
	&.img-3-2{
		background-image:url(/oit/img/curso2/curso3_img2.png);
	}
	&.img-3-3{
		background-image:url(/oit/img/curso3/curso3_img3.png);
	}
	&.img-3-4{
		background-image:url(/oit/img/curso3/curso3_img4.png);
	}
	&.img-3-5{
		background-image:url(/oit/img/curso3/curso3_img5.png);
	}
	&.img-3-6{
		background-image:url(/oit/img/curso3/curso3_img6.png);
	}
	&.img-3-7{
		background-image:url(/oit/img/curso3/curso3_img7.png);
	}
	&.img-3-23{
		background-image:url(/oit/img/curso3/curso3_img23.png);
	}
	&.img-3-25{
		background-image:url(/oit/img/curso3/curso3_img25.png);
	}
	&.img-3-26{
		background-image:url(/oit/img/curso3/curso3_img26.png);
	}
	&.img-3-29{
		background-image:url(/oit/img/curso3/curso3_img29.png);
	}
	&.img-3-30{
		background-image:url(/oit/img/curso3/curso3_img30.png);
	}
	&.img-3-31{
		background-image:url(/oit/img/curso3/curso3_img31.png);
	}
	&.img-3-32{
		background-image:url(/oit/img/curso3/curso3_img32.png);
	}
	&.img-3-33{
		background-image:url(/oit/img/curso3/curso3_img33.png);
	}
	&.img-3-34{
		background-image:url(/oit/img/curso3/curso3_img34.png);
	}
	&.img-3-35{
		background-image:url(/oit/img/curso3/curso3_img35.png);
	}
	&.img-3-39{
		background-image:url(/oit/img/curso3/curso3_img39.png);
	}
	&.img-3-40{
		background-image:url(/oit/img/curso3/curso3_img40.png);
	}
	&.img-3-42{
		background-image: url(/oit/img/curso3/curso3_img42.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			background-color:white;
		}
	}

	&.img-3-44{
		background-image: url(/oit/img/curso3/curso3_img44.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			background-color:white;
		}
	}
	&.img-3-47{
		background-image:url(/oit/img/curso3/curso3_img47.png);
	}
	&.img-3-48{
		background-image:url(/oit/img/curso3/curso3_img48.png);
	}
	&.img-3-51{
		background-image:url(/oit/img/curso3/curso3_img51.png);
	}
	&.img-3-52{
		background-image:url(/oit/img/curso3/curso3_img52.png);
	}
	&.img-3-53{
		background-image:url(/oit/img/curso3/curso3_img53.png);
	}
	&.img-3-54{
		background-image:url(/oit/img/curso3/curso3_img54.png);
	}
	&.img-3-57{
		background-image:url(/oit/img/curso3/curso3_img57.png);
	}
	&.img-3-58{
		background-image:url(/oit/img/curso3/curso3_img58.png);
	}
	&.img-3-59{
		background-image:url(/oit/img/curso3/curso3_img59.png);
	}
	&.img-3-60{
		background-image:url(/oit/img/curso3/curso3_img60.png);
	}
	&.img-3-61{
		background-image: url(/oit/img/curso3/curso3_img61.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			background-color:white;
		}
	}
	&.img-3-63{
		background-image: url(/oit/img/curso3/curso3_img63.png);
		padding-right: 200px;
		background-position-x: right;
		.oit-banner-text{
			background-color:white;
		}
	}

	&.img-4-1{
		background-image:url(/oit/img/curso4/curso4_img1.png);
	}
	&.img-4-2{
		background-image:url(/oit/img/curso4/curso4_img2.png);
	}
	&.img-4-3{
		background-image:url(/oit/img/curso4/curso4_img3.png);
	}
	&.img-4-4{
		background-image:url(/oit/img/curso4/curso4_img4.png);
	}
	&.img-4-5{
		background-image:url(/oit/img/curso4/curso4_img5.png);
	}
	&.img-4-6{
		background-image:url(/oit/img/curso4/curso4_img6.png);
	}
	&.img-4-8{
		background-image:url(/oit/img/curso4/curso4_img8.png);
	}
	&.img-4-9{
		background-image:url(/oit/img/curso4/curso4_img9.png);
	}
	&.img-4-10{
		background-image:url(/oit/img/curso4/curso4_img10.png);
	}
	&.img-4-11{
		background-image:url(/oit/img/curso4/curso4_img11.png);
	}
	&.img-4-16{
		background-image:url(/oit/img/curso4/curso4_img16.png);
	}
	&.img-4-17{
		background-image:url(/oit/img/curso4/curso4_img17.png);
	}
	&.img-4-20{
		background-image:url(/oit/img/curso4/curso4_img20.png);
	}
	&.img-4-21{
		background-image:url(/oit/img/curso4/curso4_img21.png);
	}
	&.img-4-22{
		background-image:url(/oit/img/curso4/curso4_img22.png);
	}
	&.img-4-23{
		background-image:url(/oit/img/curso4/curso4_img23.png);
	}
	&.img-4-24{
		background-image:url(/oit/img/curso4/curso4_img24.png);
	}
	&.img-4-25{
		background-image:url(/oit/img/curso4/curso4_img25.png);
	}
	&.img-4-26{
		background-image:url(/oit/img/curso4/curso4_img26.png);
	}
	&.img-4-31{
		background-image:url(/oit/img/curso4/curso4_img31.png);
	}
	&.img-4-32{
		background-image:url(/oit/img/curso4/curso4_img32.png);
	}
	&.img-4-33{
		background-image:url(/oit/img/curso4/curso4_img33.png);
	}
	&.img-4-34{
		background-image:url(/oit/img/curso4/curso4_img34.png);
	}
	&.img-4-35{
		background-image:url(/oit/img/curso4/curso4_img35.png);
	}
	&.img-4-35a{
		background-image:url(/oit/img/curso4/curso4_img35a.png);
	}
	&.img-4-44{
		background-image:url(/oit/img/curso4/curso4_img44.png);
	}
	&.img-4-45{
		background-image:url(/oit/img/curso4/curso4_img45.png);
	}
	&.img-4-46{
		background-image:url(/oit/img/curso4/curso4_img46.png);
	}
	&.img-4-47{
		background-image:url(/oit/img/curso4/curso4_img47.png);
	}
	&.img-4-48{
		background-image:url(/oit/img/curso4/curso4_img48.png);
	}
	&.img-4-49{
		background-image:url(/oit/img/curso4/curso4_img49.png);
	}
	&.img-4-49{
		background-image:url(/oit/img/curso4/curso4_img49.png);
	}
	&.img-4-57{
		background-image:url(/oit/img/curso4/curso4_img57.png);
		padding-left: 250px;
		background-position-x: left;
		.oit-banner-text{
			background-color:white;
		}
	}
	&.img-4-59{
		background-image:url(/oit/img/curso4/curso4_img59.png);
	}
	&.img-4-60{
		background-image:url(/oit/img/curso4/curso4_img60.png);
	}
	&.img-4-61{
		background-image:url(/oit/img/curso4/curso4_img61.png);
	}
	&.img-4-62{
		background-image:url(/oit/img/curso4/curso4_img62.png);
	}
	&.img-4-63{
		background-image:url(/oit/img/curso4/curso4_img63.png);
	}
	&.img-5-13{
		background-image:url(/oit/img/curso5/curso5_img13.png);
	}
	&.img-5-14{
		background-image:url(/oit/img/curso5/curso5_img14.png);
	}
	&.img-5-15{
		background-image:url(/oit/img/curso5/curso5_img15.png);
	}
	&.img-5-16{
		background-image:url(/oit/img/curso5/curso5_img16.png);
	}
	&.img-5-19{
		background-image:url(/oit/img/curso5/curso5_img19.png);
	}
	&.img-5-25{
		background-image:url(/oit/img/curso5/curso5_img25.png);
	}
	&.img-5-26{
		background-image:url(/oit/img/curso5/curso5_img26.png);
	}
	&.img-5-30{
		background-image:url(/oit/img/curso5/curso5_img30.png);
	}
	&.img-5-33{
		background-image:url(/oit/img/curso5/curso5_img33.png);
	}
	&.img-5-35{
		background-image:url(/oit/img/curso5/curso5_img35.png);
	}
	&.img-5-36{
		background-image:url(/oit/img/curso5/curso5_img36.png);
	}
	&.img-5-37{
		background-image:url(/oit/img/curso5/curso5_img37.png);
	}
	&.img-5-38{
		background-image:url(/oit/img/curso5/curso5_img38.png);
	}
	&.img-5-39{
		background-image:url(/oit/img/curso5/curso5_img39.png);
	}
	&.img-5-40{
		background-image:url(/oit/img/curso5/curso5_img40.png);
	}
	&.img-5-41{
		background-image:url(/oit/img/curso5/curso5_img41.png);
	}
	&.img-5-42{
		background-image:url(/oit/img/curso5/curso5_img42.png);
	}
	&.img-5-44{
		background-image:url(/oit/img/curso5/curso5_img44.png);
	}
	&.img-5-45{
		background-image:url(/oit/img/curso5/curso5_img45.png);
		padding-left: 250px;
		background-position-x: left;
		.oit-banner-text{
			background-color:white;
		}
	}
	&.img-5-49{
		background-image:url(/oit/img/curso5/curso5_img49.png);
	}
	&.img-5-51{
		background-image:url(/oit/img/curso5/curso5_img51.png);
	}
	&.img-5-52{
		background-image:url(/oit/img/curso5/curso5_img52.png);
	}
	&.img-5-56{
		background-image:url(/oit/img/curso5/curso5_img56.png);
	}
	&.img-5-57{
		background-image:url(/oit/img/curso5/curso5_img57.png);
	}
	&.img-5-58{
		background-image:url(/oit/img/curso5/curso5_img58.png);
	}
	&.img-5-59{
		background-image:url(/oit/img/curso5/curso5_img59.png);
	}
	&.img-5-60{
		background-image:url(/oit/img/curso5/curso5_img60.png);
	}

	&.img-6-20{
		background-image:url(/oit/img/curso6/curso6_img20.png);
		padding-left: 255px;
	}
	&.img-6-24{
		background-image:url(/oit/img/curso6/curso6_img24.png);
		padding-right: 255px;
		background-position-x: 577px;
		background-position-y: center;
		height: 446px;
	}
	&.img-6-25{
		background-image:url(/oit/img/curso6/curso6_img25.png);
		padding-right: 255px;
		background-position-x: right;
		height: 446px;
	}
	&.img-8-1{
		background-image:url(/oit/img/curso8/curso8_img1.png);
	}
	&.img-8-2{
		background-image:url(/oit/img/curso8/curso8_img2.png);
	}
	&.img-8-3{
		background-image:url(/oit/img/curso8/curso8_img3.png);
	}
	&.img-8-4{
		background-image:url(/oit/img/curso8/curso8_img4.png);
	}
	&.img-8-5{
		background-image:url(/oit/img/curso8/curso8_img5.png);
	}
	&.img-8-6{
		background-image:url(/oit/img/curso8/curso8_img6.png);
	}
	&.img-8-7{
		background-image:url(/oit/img/curso8/curso8_img7.png);
	}
	&.img-8-8{
		background-image:url(/oit/img/curso8/curso8_img8.png);
	}
	&.img-8-9{
		background-image:url(/oit/img/curso8/curso8_img9.png);
	}
	&.img-8-10{
		background-image:url(/oit/img/curso8/curso8_img10.png);
	}
	&.img-8-11{
		background-image:url(/oit/img/curso8/curso8_img11.png);
	}
	&.img-8-12{
		background-image:url(/oit/img/curso8/curso8_img12.png);
	}
	&.img-8-19{
		background-image:url(/oit/img/curso8/curso8_img19.png);
	}
	&.img-8-20{
		background-image:url(/oit/img/curso8/curso8_img20.png);
	}
	&.img-8-21{
		background-image:url(/oit/img/curso8/curso8_img21.png);
	}
	&.img-8-22{
		background-image:url(/oit/img/curso8/curso8_img22.png);
	}
	&.img-8-23{
		background-image:url(/oit/img/curso8/curso8_img23.png);
	}
	&.img-8-24{
		background-image:url(/oit/img/curso8/curso8_img24.png);
	}
	&.img-8-25{
		background-image:url(/oit/img/curso8/curso8_img25.png);
	}
	&.img-8-26{
		background-image:url(/oit/img/curso8/curso8_img26.png);
	}
	&.img-8-27{
		background-image:url(/oit/img/curso8/curso8_img27.png);
	}
	&.img-8-33{
		background-image:url(/oit/img/curso8/curso8_img33.png);
	}
	&.img-8-35{
		background-image:url(/oit/img/curso8/curso8_img35.png);
	}
	&.img-8-36{
		background-image:url(/oit/img/curso8/curso8_img36.png);
	}
	&.img-8-41{
		background-image:url(/oit/img/curso8/curso8_img41.png);
	}
	&.img-8-42{
		background-image:url(/oit/img/curso8/curso8_img42.png);
	}
	&.img-8-43{
		background-image:url(/oit/img/curso8/curso8_img43.png);
	}
	&.img-8-44{
		background-image:url(/oit/img/curso8/curso8_img44.png);
	}
	&.img-8-45{
		background-image:url(/oit/img/curso8/curso8_img45.png);
	}
	&.img-8-46{
		background-image:url(/oit/img/curso8/curso8_img46.png);
	}
	&.img-8-55{
		background-image:url(/oit/img/curso8/curso8_img55.png);
	}
	&.img-8-56{
		background-image:url(/oit/img/curso8/curso8_img56.png);
	}
	&.img-8-57{
		background-image:url(/oit/img/curso8/curso8_img57.png);
	}
	&.img-8-59{
		background-image:url(/oit/img/curso8/curso8_img59.png);
	}
	&.img-8-60{
		background-image:url(/oit/img/curso8/curso8_img60.png);
	}
	&.img-8-61{
		background-image:url(/oit/img/curso8/curso8_img61.png);
	}
	&.img-8-62{
		background-image:url(/oit/img/curso8/curso8_img62.png);
	}
	&.img-8-63{
		background-image:url(/oit/img/curso8/curso8_img63.png);
	}
	&.img-8-64{
		background-image:url(/oit/img/curso8/curso8_img64.png);
	}
	&.img-8-65{
		background-image:url(/oit/img/curso8/curso8_img65.png);
	}
	&.img-8-66{
		background-image:url(/oit/img/curso8/curso8_img66.png);
	}
	&.img-8-67{
		background-image:url(/oit/img/curso8/curso8_img67.png);
	}
	&.img-8-68{
		background-image:url(/oit/img/curso8/curso8_img68.png);
	}
	&.img-8-69{
		background-image:url(/oit/img/curso8/curso8_img69.png);
	}
	&.img-8-70{
		background-image:url(/oit/img/curso8/curso8_img70.png);
	}
	&.img-8-71{
		background-image:url(/oit/img/curso8/curso8_img71.png);
	}
	&.img-8-72{
		background-image:url(/oit/img/curso8/curso8_img72.png);
	}
	&.img-8-74{
		background-image:url(/oit/img/curso8/curso8_img74.png);
	}
	&.img-8-75{
		background-image:url(/oit/img/curso8/curso8_img75.png);
	}
	&.img-8-76{
		background-image:url(/oit/img/curso8/curso8_img76.png);
	}
	&.img-8-77{
		background-image:url(/oit/img/curso8/curso8_img77.png);
	}
	&.img-8-78{
		background-image:url(/oit/img/curso8/curso8_img78.png);
	}
	&.img-8-79{
		background-image:url(/oit/img/curso8/curso8_img79.png);
	}
	&.img-8-80{
		background-image:url(/oit/img/curso8/curso8_img80.png);
	}
	&.img-8-81{
		background-image:url(/oit/img/curso8/curso8_img81.png);
	}
	&.img-8-82{
		background-image:url(/oit/img/curso8/curso8_img82.png);
	}
	&.img-8-83{
		background-image:url(/oit/img/curso8/curso8_img83.png);
	}
	&.img-8-84{
		background-image:url(/oit/img/curso8/curso8_img84.png);
	}
	&.img-8-85{
		background-image:url(/oit/img/curso8/curso8_img85.png);
	}
	&.img-8-86{
		background-image:url(/oit/img/curso8/curso8_img86.png);
	}
	&.img-8-87{
		background-image:url(/oit/img/curso8/curso8_img87.png);
	}
	&.img-8-89{
		background-image:url(/oit/img/curso8/curso8_img89.png);
	}
	&.img-8-90{
		background-image:url(/oit/img/curso8/curso8_img90.png);
	}
	&.img-8-91{
		background-image:url(/oit/img/curso8/curso8_img91.png);
	}
	&.img-8-92{
		background-image:url(/oit/img/curso8/curso8_img92.png);
	}
	&.img-8-93{
		background-image:url(/oit/img/curso8/curso8_img93.png);
	}
	&.img-8-94{
		background-image:url(/oit/img/curso8/curso8_img94.png);
	}
	&.img-8-95{
		background-image:url(/oit/img/curso8/curso8_img95.png);
	}
	&.img-8-96{
		background-image:url(/oit/img/curso8/curso8_img96.png);
	}
	&.img-8-96a{
		background-image:url(/oit/img/curso8/curso8_img96a.png);
	}
	&.img-8-97{
		background-image:url(/oit/img/curso8/curso8_img97.png);
	}
	&.img-8-98{
		background-image:url(/oit/img/curso8/curso8_img98.png);
	}
	&.img-8-99{
		background-image:url(/oit/img/curso8/curso8_img99.png);
	}
	&.img-8-100{
		background-image:url(/oit/img/curso8/curso8_img100.png);
	}
	&.img-8-101{
		background-image:url(/oit/img/curso8/curso8_img101.png);
	}
	&.img-8-102{
		background-image:url(/oit/img/curso8/curso8_img102.png);
	}
	&.img-8-103{
		background-image:url(/oit/img/curso8/curso8_img103.png);
	}
	&.img-8-107{
		background-image:url(/oit/img/curso8/curso8_img107.png);
	}
	&.img-8-108{
		background-image:url(/oit/img/curso8/curso8_img108.png);
	}
	&.img-8-112{
		background-image:url(/oit/img/curso8/curso8_img112.png);
	}
	&.img-8-116{
		background-image:url(/oit/img/curso8/curso8_img116.png);
	}
	&.img-8-117{
		background-image:url(/oit/img/curso8/curso8_img117.png);
	}
	&.img-8-118{
		background-image:url(/oit/img/curso8/curso8_img118.png);
	}
	&.img-8-119{
		background-image:url(/oit/img/curso8/curso8_img119.png);
	}
	&.img-8-120{
		background-image:url(/oit/img/curso8/curso8_img120.png);
	}
	&.img-8-124{
		background-image:url(/oit/img/curso8/curso8_img124.png);
	}
	&.img-8-125{
		background-image:url(/oit/img/curso8/curso8_img125.png);
	}
	&.img-8-126{
		background-image:url(/oit/img/curso8/curso8_img126.png);
	}
	&.img-8-127{
		background-image:url(/oit/img/curso8/curso8_img127.png);
	}
	&.img-8-128{
		background-image:url(/oit/img/curso8/curso8_img128.png);
	}
	&.img-9-2{
		background-image:url(/oit/img/curso9/curso9_img2.png);
    	padding-left: 250px;
	}
	&.img-9-4{
		background-image:url(/oit/img/curso9/curso9_img4.png);
	}
	&.img-9-5{
		background-image:url(/oit/img/curso9/curso9_img5.png);
	}
	&.img-9-6{
		background-image:url(/oit/img/curso9/curso9_img6.png);
	}
	&.img-9-8{
		background-image:url(/oit/img/curso9/curso9_img8.png);
	}
	&.img-9-12{
		background-image:url(/oit/img/curso9/curso9_img12.png);
	}
	&.img-9-13{
		background-image:url(/oit/img/curso9/curso9_img13.png);
	}
	&.img-9-15{
		background-image:url(/oit/img/curso9/curso9_img15.png);
	}
	&.img-9-16{
		background-image:url(/oit/img/curso9/curso9_img16.png);
	}
	&.img-9-21{
		background-image:url(/oit/img/curso9/curso9_img21.png);
	}
	&.img-9-22{
		background-image:url(/oit/img/curso9/curso9_img22.png);
	}
	&.img-9-23{
		background-image:url(/oit/img/curso9/curso9_img23.png);
	}
	&.img-9-25{
		background-image:url(/oit/img/curso9/curso9_img25.png);
	}
	&.img-9-31{
		background-image:url(/oit/img/curso9/curso9_img31.png);
	}
	&.img-9-32{
		background-image:url(/oit/img/curso9/curso9_img32.png);
	}
	&.img-9-33{
		background-image:url(/oit/img/curso9/curso9_img33.png);
	}
	&.img-9-40{
		background-image:url(/oit/img/curso9/curso9_img40.png);
	}
	&.img-9-41{
		background-image:url(/oit/img/curso9/curso9_img41.png);
	}
	&.img-9-42{
		background-image:url(/oit/img/curso9/curso9_img42.png);
	}
	&.img-9-43{
		background-image:url(/oit/img/curso9/curso9_img43.png);
	}
	&.img-9-44{
		background-image:url(/oit/img/curso9/curso9_img44.png);
	}
	&.img-9-45{
		background-image:url(/oit/img/curso9/curso9_img45.png);
	}
	&.img-9-46{
		background-image:url(/oit/img/curso9/curso9_img46.png);
	}
	&.img-9-47{
		background-image:url(/oit/img/curso9/curso9_img47.png);
	}
	&.img-9-48{
		background-image:url(/oit/img/curso9/curso9_img48.png);
	}
	&.img-9-63{
		background-image:url(/oit/img/curso9/curso9_img63.png);
	}
	&.img-9-64{
		background-image:url(/oit/img/curso9/curso9_img64.png);
	}
	&.img-9-65{
		background-image:url(/oit/img/curso9/curso9_img65.png);
	}
	&.img-9-66{
		background-image:url(/oit/img/curso9/curso9_img66.png);
	}
	&.img-9-67{
		background-image:url(/oit/img/curso9/curso9_img67.png);
	}
	&.img-9-68{
		background-image:url(/oit/img/curso9/curso9_img68.png);
	}
	&.img-9-75{
		background-image:url(/oit/img/curso9/curso9_img75.png);
	}
	&.img-9-76{
		background-image:url(/oit/img/curso9/curso9_img76.png);
	}
	&.img-9-77{
		background-image:url(/oit/img/curso9/curso9_img77.png);
	}
	&.img-9-91{
		background-image:url(/oit/img/curso9/curso9_img91.png);
	}
	&.img-9-93{
		background-image:url(/oit/img/curso9/curso9_img93.png);
	}
	&.img-9-95{
		background-image:url(/oit/img/curso9/curso9_img95.png);
	}
	&.img-9-99{
		background-image:url(/oit/img/curso9/curso9_img99.png);
	}
	&.img-9-105{
		background-image:url(/oit/img/curso9/curso9_img105.png);
	}
	&.dummy-izq {
		padding-left: 200px;
		background-color: #cecece;
		.oit-banner-text{
			padding-left: 20px;
			background-color:white;
		}
	}
	&.dummy-background{
		padding: 60px;
		background-color: #cecece;
		.oit-banner-text{
			padding: 20px;
			background-color:white;
		}
	}
}