$font: Lato,Helvetica,Arial,sans-serif;
$color-fondo: #f4f4f4;
$gris-oscuro: #1d7aaf;
$color-fuente: dimgray;
$gris-claro: lightgray;
$margen: 10px;
$padding: 20px;
$tamano-fuente-pequeno: 12pt;
$tamano-fuente-mediano: 14pt;
$tamano-fuente-grande: 16pt;
$tamano-fuente-extragrande: 18pt;
$ancho: 765px;

body{
	font-family: $font;
	font-weight: 400;
	max-width: $ancho;
	width: 100%;
	min-height: 300px;
    height: fit-content;
	margin:0;
	h1,h2,h3{
		font-weight: 400;
	}
	h1 {
		font-size: $tamano-fuente-extragrande;
		text-align: center;
		color: dimgray;
		margin: 0;
		margin-bottom: $margen;
	}
	/*Tabla Simple*/
	.tabla{
		max-width: $ancho;	
		display: flex;
		>div{
			flex-direction: column;
			margin-right: $margen;
			width: 240px;
			&.ancho-completo{
				width:100%;
			}
			>h1{
				margin-bottom: $margen;
				font-size:$tamano-fuente-mediano;
				text-align: center;
				background-color: #b8cddf;
				color: $color-fuente;
				padding:  10px;
			}
			>ul{
				background-color: $color-fondo;
				min-height: 170px;
				margin:  0;
				padding: $padding;
				list-style: none;
				color: $color-fuente;
    			font-weight: 300;
				>li{
					margin-bottom: $margen;
					ul{
						margin-top: 10px;
					}
				}
			}
		}
	}
	/*Tabla horizontal*/
	.tabla-horizontal{
		max-width: $ancho;
		display: flex;
		div {
			margin-right:  $margen;
			padding:  $padding;
			color:  $color-fuente;
			font-size:  $tamano-fuente-pequeno;
			&:first-child {
				background-color: $gris-oscuro;
				h1 {
					color: white;
					font-size:  $tamano-fuente-mediano;
					margin:  0;
					position: relative;
					top: 50%;
					transform: translate(0,-50%);
				}
			}
			&:last-child {
				background-color: $color-fondo;
			}
			>ul {
				list-style:  none;
				margin:  0;
				padding:  0;
				position: relative;
				top: 50%;
				transform:  translate(0,-50%);
				>li {
					margin-bottom: $margen;
				}
			}
		}
	}
	/*Tabla de flujo*/
	.tabla-flujo{
		>div {
			padding: $padding;
			margin-bottom: $margen;
			font-size: $tamano-fuente-mediano;
			background-color: $color-fondo;
			color: $color-fuente;
			&:first-child {
				background-color: $gris-oscuro;
				color: white;
			}
		}
		>i.fas.fa-arrow-down {
			color: $color-fuente;
			width: 100%;
			text-align: center;
			margin-bottom: $margen;
			font-size: $tamano-fuente-grande;
		}
	}
	.cuadricula{
		>div{
			&:nth-child(odd) {
				background-color: #97c5e1;
			}
			&:nth-child(even) {
				background-color: #d7ecf9;
			}
		}
	}

	@media(min-width: 760px){
		.cuadricula{
			&.cuadricula-2-2{
				>div{
					width: 330px;
				}
			}
			>div{
				width: 240px;
			}
		}
	}
	@media(max-width: 760px){
		.tabla{
			flex-direction: column;
			>div{
				width: 100%;
				>ul{
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
		.cuadricula{
			>div{
				width: 100%;
			}
		}
	}

	/*Cuadricula*/
	.cuadricula{
		display: flex;
		flex-wrap: wrap;
		&.cuadricula-2-2{
			>div{
				height: 170px;
				padding: $padding;
				h1{
					font-size:$tamano-fuente-mediano;
					color: white;
				}
			}
		}
		>div {
			height: 120px;
			margin: 0 $margen $margen 0;
			text-align: center;
			background-color: $gris-claro;
			color: $color-fuente;
			h1 {
				position: relative;
				top: 50%;
				transform: translate(0,-50%);
				margin: 0;
				font-size:$tamano-fuente-grande;
			}
		}
	}
}