body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  max-width: 765px;
  width: 100%;
  min-height: 300px;
  height: fit-content;
  margin: 0;
  /*Tabla Simple*/
  /*Tabla horizontal*/
  /*Tabla de flujo*/
  /*Cuadricula*/ }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18pt;
    text-align: center;
    color: dimgray;
    margin: 0;
    margin-bottom: 10px; }
  body .tabla {
    max-width: 765px;
    display: flex; }
    body .tabla > div {
      flex-direction: column;
      margin-right: 10px;
      width: 240px; }
      body .tabla > div.ancho-completo {
        width: 100%; }
      body .tabla > div > h1 {
        margin-bottom: 10px;
        font-size: 14pt;
        text-align: center;
        background-color: #b8cddf;
        color: dimgray;
        padding: 10px; }
      body .tabla > div > ul {
        background-color: #f4f4f4;
        min-height: 170px;
        margin: 0;
        padding: 20px;
        list-style: none;
        color: dimgray;
        font-weight: 300; }
        body .tabla > div > ul > li {
          margin-bottom: 10px; }
          body .tabla > div > ul > li ul {
            margin-top: 10px; }
  body .tabla-horizontal {
    max-width: 765px;
    display: flex; }
    body .tabla-horizontal div {
      margin-right: 10px;
      padding: 20px;
      color: dimgray;
      font-size: 12pt; }
      body .tabla-horizontal div:first-child {
        background-color: #1d7aaf; }
        body .tabla-horizontal div:first-child h1 {
          color: white;
          font-size: 14pt;
          margin: 0;
          position: relative;
          top: 50%;
          transform: translate(0, -50%); }
      body .tabla-horizontal div:last-child {
        background-color: #f4f4f4; }
      body .tabla-horizontal div > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 50%;
        transform: translate(0, -50%); }
        body .tabla-horizontal div > ul > li {
          margin-bottom: 10px; }
  body .tabla-flujo > div {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 14pt;
    background-color: #f4f4f4;
    color: dimgray; }
    body .tabla-flujo > div:first-child {
      background-color: #1d7aaf;
      color: white; }
  body .tabla-flujo > i.fas.fa-arrow-down {
    color: dimgray;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16pt; }
  body .cuadricula > div:nth-child(odd) {
    background-color: #97c5e1; }
  body .cuadricula > div:nth-child(even) {
    background-color: #d7ecf9; }
  @media (min-width: 760px) {
    body .cuadricula.cuadricula-2-2 > div {
      width: 330px; }
    body .cuadricula > div {
      width: 240px; } }
  @media (max-width: 760px) {
    body .tabla {
      flex-direction: column; }
      body .tabla > div {
        width: 100%; }
        body .tabla > div > ul {
          height: auto;
          margin-bottom: 20px; }
    body .cuadricula > div {
      width: 100%; } }
  body .cuadricula {
    display: flex;
    flex-wrap: wrap; }
    body .cuadricula.cuadricula-2-2 > div {
      height: 170px;
      padding: 20px; }
      body .cuadricula.cuadricula-2-2 > div h1 {
        font-size: 14pt;
        color: white; }
    body .cuadricula > div {
      height: 120px;
      margin: 0 10px 10px 0;
      text-align: center;
      background-color: lightgray;
      color: dimgray; }
      body .cuadricula > div h1 {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0;
        font-size: 16pt; }

/*# sourceMappingURL=tablas.css.map */
