<thead>
	<tr>
		<th colspan="1"><a href="{{sort_firstname}}">Usuario {{ico_sort_firstname}}</a></th>
		<th colspan="1"><a href="{{sort_ultimo_acceso}}">Último acceso {{ico_sort_ultimo_acceso}}</a></th>
	</tr>
</thead>