<tr class="fila-reporte">
	<td class="celda usuario">
		{{imagen}} 
		<div>	
			<h3>
				<a href="/oit/perfil.php?id={{id}}">
					{{firstname}} {{lastname}}
				</a>
			</h3>
			<p>
				{{email}}
			</p>
			<p>
				{{departamento}}
			</p>
		</div>
	</td>
	<td class="celda">
		<a href="/oit/perfil.php?id={{id}}">
			{{ultimo_acceso}}
		</a>
	</td>
</tr>