<div class="oit-leccion" id="{{id}}">
	<a href="{{url}}">	
		<div class="titulo"><h1>{{numero}}</h1></div>
			{{tooltip}}
		<div class="descripcion">
			<h3>{{titulo}}</h3>
			<div>
				{{descripcion}}
			</div>
		</div>
		<div class="leccion-info">
			<img src="/oit/img/{{estado}}.png">
			<img class="puntaje" src="/oit/img/numeros/{{puntaje}}.png">
		</div>
	</a>
</div>