<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link href="/oit/css/oithvp.css" type="text/css" rel="stylesheet">
<table>
	<tr><th>Hola</th></tr>
	<tr><td>Mundo</td></tr>
</table>

<style type="text/css">
	table{
		width: 765px;
		height: 300px;
	}
	tr{
		height: 150px;
     	text-align: center;
	}
	th{
		font-size: 24pt;
		background-color: lightgray;
		color: white;
	}
	td{
		font-size: 12pt;
	}
</style>