{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/navbar

    Navbar template.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * get_items - array of items
      * has_action - boolean
      * action - string
      * get_title - string
      * text - HTML

    Example context (json):
    {
        "get_items": [
            {
                "has_action": true,
                "action": "#",
                "get_title": "Test title",
                "text": "First & fresh"
            },
            {
                "has_action": true,
                "action": "#",
                "get_title": "Second item & a title",
                "text": "Second item"
            },
            {
                "has_action": false,
                "text": "Third item"
            },
            {
                "has_action": false,
                "text": "Fourth & last"
            }
        ]
    }
}}
<nav role="navigation">
    <ol class="breadcrumb">
        {{#get_items}}
            {{#has_action}}
                <li id="{{{key}}}" class="breadcrumb-item"><a href="{{{action}}}" {{#get_title}}title="{{get_title}}"{{/get_title}}>{{{text}}}</a></li>
            {{/has_action}}
            {{^has_action}}
                <li id="{{{key}}}" class="breadcrumb-item">{{{text}}}</li>
            {{/has_action}}
        {{/get_items}}
    </ol>
</nav>
