#creditos {
	margin: 0px auto;
	height:10px;
	width:900px;
	padding-top: 10px;
	padding-bottom:10px;
}
.texcreditos {
	color:#000;
	font-size:10px;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
}
a.texcreditos:link {
	font-family: 'Ubuntu', sans-serif;
	font-size:10px;
	color: #000;
	text-decoration: underline;
}
a.texcreditos:hover {
	font-family: 'Ubuntu', sans-serif;
	color: #3d3d3d;
	font-size:10px;
	text-decoration: none;
}
a.texcreditos:visited {
	text-decoration: underline;
}
#swiffycontainer {
	color: #00DEEA;
}
