<thead>
	<tr>
		<th colspan="1"><a href="{{sort_sortorder}}">Curso {{ico_sort_sortorder}}</a></th>
		<th colspan="1"><a href="{{sort_diagnostico}}">Diagnóstico {{ico_sort_diagnostico}}</a></th>
		<th colspan="1"><a href="{{sort_lecciones}}">Lecciones {{ico_sort_lecciones}}</a></th>
		<th colspan="1"><a href="{{sort_evaluacion}}">Evaluación {{ico_sort_evaluacion}}</a></th>
		<th colspan="1"><a href="{{sort_total}}">Total {{ico_sort_total}}</a></th>
	</tr>
</thead>