<tr class="{{color}}">
	<td>
		{{nombre}}
	</td>
	<td>
		{{diagnostico}}
	</td>
	<td>
		<p>
			{{lecciones}}
		</p>
		<p class="estado">
			{{realizadas}}/{{totales}}
		</p>
	</td>
	<td>
		{{evaluacion}}
	</td>
	<td>
		{{total}}
	</td>
</tr>