<div id="perfil_top">
  	{{imagen}}
   <span class="oit-info">
      <h1>{{nombre}}</h1>
      <h4>{{correo}}</h4>
      <p>{{departamento}}</p>
   </span>
   <span style="margin-left: auto;text-align: right;">
      <p style="margin-bottom: 0">Último acceso:</p>
      <p style="margin-bottom: 0">{{ultimoAcceso}}</p>
   </span>
</div>