.oit-banner {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #ccc; }
  .oit-banner .oit-banner-image {
    width: 100%;
    height: auto; }
  .oit-banner .oit-banner-text {
    width: auto;
    margin: 16px;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center; }

/*# sourceMappingURL=banner.css.map */
