<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<table id="table-course" border="0" cellpadding="0" cellspacing="0">

	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="columnas-1" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="columnas-2" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="columnas-3" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="hotspots-multiples" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="emparejamiento-de-imagenes" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="flashcards" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
<!-- 	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
		<td><a id="testt" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr> -->
	
</table>

<style type="text/css">
#table-course td{
	padding: 0;
	display: inline-block;
	margin-left:  -5px;
}
#table-course tr {
	display:  block;
}
#table-course .row td {
	width:  33%;
}
#tooltip{
	position: absolute;
	z-index: 10;
}
table#table-course tbody td>a>div.puntaje{
	width: 45px!important;
	height: 45px!important;
}
img{
	/*border:  solid 1px black;*/
}
</style>
<script type="text/javascript">
</script>