<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<table id="table-course" border="0" cellpadding="0" cellspacing="0">
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-02.png"/></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-03.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-1-inicio" class="enlacecurso"><img src="{{coursedir}}/OIT arbol cursos-04.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-05.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-2-auto-de-avoquese" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-06.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-07.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-3-comunicacion" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-08.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-09.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-4-se-debe-identificar-responsables-o-recabar-elementos-de-juicio" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-10.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-11.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-5-auto" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-12.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-13.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-6-notificacion" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-14.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-15.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-16.png"/></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-17.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-7-practicas-de-pruebas" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-18.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-19.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-20.png"/></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-21.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-8-iniciar-procedimiento-sancionatorio" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-22.png"/></a></td>
		<td><a id="etapa-9-procedimiento-sancionatorio" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-23.png"/></a></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-10-acto" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-24.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-25.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-11-notificacion" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-26.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-27.png"/></td>
	</tr>
	<tr class="row">
		<td><img src="{{coursedir}}/OIT arbol cursos-28.png"/></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-29.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-12-se-interpuso-recursos" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-30.png"/></a></td>
		<td><a id="etapa-13-interposicion-de-recursos" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-31.png"/></a></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-14-registro-actuacion-final" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-32.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-33.png"/></td>
	</tr>
	<tr class="row">
		<td><a id="etapa-15-fin" class="enlacecurso" ><img src="{{coursedir}}/OIT arbol cursos-34.png"/></a></td>
		<td><img src="{{coursedir}}/OIT arbol cursos-35.png"/></td>
	</tr>
</table>

<style type="text/css">
#table-course td{
	padding: 0;
	display: inline-block;
	margin-left:  -5px;
}
#table-course tr {
	display:  block;
}
#table-course .row td {
    width:  50%;
}
#tooltip{
	position: absolute;
	z-index: 10;
}
img{
	/*border:  solid 1px black;*/
}
</style>
<script type="text/javascript">
</script>