<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="tabla-flujo">
	<div>
		<span>Para superar los vacíos que tiene la normatividad, la inspección de trabajo debe tener en cuenta que el artículo 5 del Convenio 81 de la OIT, promueve que esta articule esfuerzos con diferentes actores:</span>
	</div>
	<i class="fas fa-arrow-down"></i>
	<div>
		<span>La autoridad competente deberá adoptar las medidas pertinentes para fomentar:</span>
	</div>
	<i class="fas fa-arrow-down"></i>
	<div>
		<span>(a) la cooperación efectiva de los servicios de inspección con otros servicios gubernamentales y con instituciones, públicas o privadas, que ejerzan actividades similares;</span>
	</div>
	<i class="fas fa-arrow-down"></i>
	<div>
		<span>(b) la colaboración de los funcionarios de la inspección con los empleadores y trabajadores o sus organizaciones.</span>
	</div>
</div>