<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<div class="tabla-horizontal">
	<div>
		<h1>En el Convenio 81 de la OIT se hace referencia a la función preventiva de la inspección del trabajo de diversas formas:</h1>
	</div>
	<div>
		<ul>
			<li>El sistema de inspección estará encargado de: … (b) facilitar información técnica y asesorar a los empleadores y a los trabajadores sobre la manera más efectiva de cumplir las disposiciones legales (Literal (b) del numeral 1 del artículo 3)</li>
			<li>Los inspectores del trabajo tendrán la facultad discrecional de advertir y de aconsejar, en vez de iniciar o recomendar un procedimiento. (numeral 2 del artículo 17)</li>
		</ul>
	</div>
</div>