<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<div class="tabla-horizontal">
	<div>
		<h1>El artículo 19 del Convenio 8 de la OIT concuerda con esta obligación:</h1>
	</div>
	<div>
		<ul>
			<li>Los inspectores del trabajo o las oficinas locales de inspección, según sea el caso, estarán obligados a presentar a la autoridad central de inspección informes periódicos sobre los resultados de sus actividades.</li>
			<li>Estos informes se redactarán en la forma que prescriba la autoridad central, tratarán de las materias que considere pertinentes dicha autoridad y se presentarán, por lo menos, con la frecuencia que la autoridad central determine y, en todo caso, a intervalos que no excedan de un año.</li>
		</ul>
	</div>
</div>