<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<div class="tabla">
	<div class="ancho-completo">
		<h1>En cumplimiento de la función policiva el Convenio 81 de la OIT autoriza a los inspectores de trabajo:</h1>
		<ul>
			<li>Para entrar libremente y sin previa notificación, a cualquier hora del día o de la noche, en todo establecimiento sujeto a inspección;</li>
			<li>Para entrar de día en cualquier lugar, cuando tengan un motivo razonable para suponer que está sujeto a inspección; y</li>
			<li>Para proceder a cualquier prueba, investigación o examen que consideren necesario para cerciorarse de que las disposiciones legales se observan estrictamente y, en particular:
				<ul>	
					<li>Para interrogar, solos o ante testigos, al empleador o al personal de la empresa sobre cualquier asunto relativo a la aplicación de las disposiciones legales;</li>
					<li>Para exigir la presentación de libros, registros u otros documentos que la legislación nacional relativa a las condiciones de trabajo ordene llevar, a fin de comprobar que están de conformidad con las disposiciones legales, y para obtener copias o extractos de los mismos;</li>
					<li>Para requerir la colocación de los avisos que exijan las disposiciones legales;</li>
					<li>Para tomar o sacar muestras de sustancias y materiales utilizados o manipulados en el establecimiento, con el propósito de analizarlos, siempre que se notifique al empleador o a su representante que las substancias o los materiales han sido tomados o sacados con dicho propósito. (artículo 12)</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
