<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<h1>Directores Territoriales</h1>
<div class="tabla">
	<div>
		<h1>¿Qué hace?</h1>
		<ul>
			<li>Ejercer la representación del Ministerio del Trabajo en la Región</li>
			<li>Ejercer la presencia institucional ante los organismos vinculados</li>
		</ul>
	</div>
	<div>
		<h1>¿Cómo lo hace?</h1>
		<ul>
			<li>Evaluando y comprobando que se cumpla la normatividad en la áreas de su competencia</li>
			<li>Ejerciendo las funciones de prevención, conciliación, inspección, vigilancia, control y tramite</li>
		</ul>
	</div>
	<div>
		<h1>¿A través de que lo hace?</h1>
		<ul>
			<li>De las funciones que le asignan el Decreto 4108 de 2011 (artículo 30), la Resolución 2143 de 2014 (artículo 1) y la Resolución 03111 de 2015 (pág. 345 y ss).</li>
		</ul>
	</div>
</div>