<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">
<h1>Nivel asistencial</h1>
<div class="tabla">
	<div>
		<h1>¿Qué hace?</h1>
		<ul>
			<li>Desarollar laborales de asistencia administrativa conforme a los procesos procedimientos de IVC</li>
		</ul>
	</div>
	<div>
		<h1>¿Cómo lo hace?</h1>
		<ul>
			<li>Facilitando el desarrollo y ejecución de las actividades del área donde se desempeña</li>
			<li>Contribuyendo al logro de los objetivos del área de desempeño.</li>
		</ul>
	</div>
	<div>
		<h1>¿A través de que lo hace?</h1>
		<ul>
			<li>Conforme a las competencias dadas por la Resolución 03111 de 2015 (págs. 391 y ss.)</li>
		</ul>
	</div>
</div>