<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">

<div class="cuadricula">
	<div><h1>Inspeccionar</h1></div>
	<div><h1>Instruir</h1></div>
	<div><h1>Investigar</h1></div>
	<div><h1>Autorizar, aprobar u ordenar</h1></div>
	<div><h1>Prevenir</h1></div>
	<div><h1>Conciliar</h1></div>
	<div><h1>Constatar o verificar</h1></div>
	<div><h1>Actuar, adelantar, efectuar y tramitar</h1></div>
	<div><h1>Informar</h1></div>
</div>