<link href="https://fonts.googleapis.com/css?family=Lato:300,400" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/oit/css/tablas.css">

<h1>Inspectores de trabajo</h1>
<div class="tabla">
	<div>
		<h1>¿Qué hace?</h1>
		<ul>
			<li>Ejecutar acciones de inspección, vigilancia y control en materia de empleo, trabajo y seguridad social en pensiones y riesgos laborales</li>
			<li>Incluye el desarrollo de conciliaciones extrajudiciales en derecho en el territorio de su jurisducción</li>
		</ul>
	</div>
	<div>
		<h1>¿Con qué fin?</h1>
		<ul>
			<li>Garantizar el cumplimiento de las normas legales, reglamentarias y convencionales, tanto en el sector público como en el privado</li>
		</ul>
	</div>
	<div>
		<h1>¿A través de que lo hace?</h1>
		<ul>
			<li>De las funciones que le asignan el Decreto 4108 de 2011 (artículo 32), la Resolución 2143 de 2014 (artículo 7) y la Resolución 03111 de 2015 (págs. 369 y ss.)</li>
		</ul>
	</div>
</div>
<style type="text/css">
	.tabla ul{
		height: 100%;
	}
</style>