{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">

    <div class="container-fluid navbar-nav">

        <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>

        <a href="{{{ config.wwwroot }}}" class="navbar-brand has-logo">
            <span class="logo">
                <img src="/oit/img/header-web.png" alt="{{sitename}}">
            </span>
        </a>

        <!-- user_menu -->
        <span class="menu-usario">
            {{{ output.user_menu }}}
        </span>

        <!-- navbar_plugin_output -->
        {{!{ output.navbar_plugin_output }}

        <!-- search_box -->
        <span class="hidden-md-down">
            {{{ output.search_box }}}
        </span>

        <!-- <nav class="nav navbar-nav hidden-md-down"> -->
            <!-- custom_menu -->
            {{!{ output.custom_menu }}
            <!-- page_heading_menu -->
            {{!{ output.page_heading_menu }}
        <!-- </nav> -->
    </div>
</header>

