{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/oit/js/lib/mrvLib.js"></script>
    <script src="/oit/js/lib/mrvBar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600" rel="stylesheet">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
        {{>theme_boost/header}}

    <div id="page" class="container-fluid">
        <div id="page-content" class="row">
            <div id="region-main-box">
                <section id="region-main" class="col-xs-12 oit-login">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
</div>
<footer id="page-footer" class="p-y-1 bg-inverse hidden">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{{ output.login_info }}}
        {{{ output.home_link }}}
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>

    <footer id="pie">
       <div>
         <h1><a href="https://forms.gle/8AqFszHCr9h8gALJ6" target="_blank">¿TIENES ALGUNA SUGERENCIA SOBRE LA PLATAFORMA?</a></h1>

         <div>
            <div>
                <img src="/oit/img/footer-logo.png" />
            </div>
           <p>El Departamento de Trabajo de los Estados Unidos aportó financiación para la conceptualización de este
            campus virtual, según acuerdo de cooperación número IL-30147-16-75-K-11. Esta publicación no refleja
            necesariamente las opiniones o políticas del Departamento de Trabajo de los Estados Unidos, y la mención
            de marcas, productos comerciales u organizaciones no implica el respaldo del Gobierno de los Estados
        Unidos.</p>
    </div>

</div>

</footer>

<script type="text/javascript">
  var el=document.getElementById('mycourses');
  if(el){
    if(el.children.length===0){
      var enlace = document.createElement("a");
      enlace.href='/';
      enlace.appendChild(document.createTextNode('Cursos'))
      el.innerHTML=enlace.outerHTML;
   }
}

var els=document.getElementsByClassName('breadcrumb-item');
for (var i = els.length - 1; i >= 0; i--) {
 if(els[i].innerText=="general"){
   els[i].remove();
}
}

document.querySelector('[data-key="profile"]').insertAdjacentHTML('beforebegin','<br>');
</script>
<style type="text/css">
html, body {
    height: auto;
}
#page .row{
    padding-top: 1px;
}
@media(min-width: 768px){
 #pie {
    position: absolute;
  }
}
#pie {
    width: 100%;
    bottom: 0;
    padding-top: 20px;
}
</style>
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
