<div>
	<h3>¿Esta seguro de eliminar este recurso?</h3>
	<a class="btn btn-secondary" href="/oit/recursos.php?filtro={{filtro}}">Volver</a>
	<a class="btn btn-primary" href="/oit/recursos.php?confirmerase={{id}}&filtro={{filtro}}">Eliminar</a>
</div>