<div class="recurso-item"  id="{{anchor}}">
	<div>
		<h5>
			<a href="{{url}}">
				{{titulo}}	
			</a>
			{{editar}}
		</h5>
		<p>
			{{descripcion}}
		</p>
		<small>
			{{filesize}}
		</small>
	</div>
	<a href="{{url}}">
		<img src="/oit/img/ico_descarga.png" />
	</a>
</div>