<form action='' method='POST' enctype='multipart/form-data'>

	<label for="file-input" class="btn btn-secondary">
		Cargar Archivo
	</label>
	<input id="file-input" type='file' name='archivo' style="display: none;">

	<div>
		<button type='submit' name='upload_btn' class="btn btn-primary">
			Enviar
		</button>
	</div>
</form>